
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json;
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    UserProfile _learner;

    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _learner = (UserProfile)this.Model;
}
@{
    String currentID = $"purpose{DateTime.Now.Ticks}";
}
@{
    DateTime monthStart = DateTime.Today.FirstDayOfMonth();

    var selfTraining = models.GetTable<RegisterLesson>()
        .Where(r => r.UID == _learner.UID)
        .TotalRegisterLessonItems(models)
        .Where(l => l.LessonAttendance != null);

    var selfTrainingThisMonth = selfTraining.Where(l => l.ClassTime >= monthStart && l.ClassTime < DateTime.Today.AddDays(1));
    var totalMinutes = selfTrainingThisMonth.Sum(l => l.DurationInMinutes) ?? 0;

    var totalMinutesLastMonth = selfTraining
            .Where(l => l.ClassTime >= monthStart.AddMonths(-1) && l.ClassTime < DateTime.Today.AddMonths(-1).AddDays(1))
            .Sum(l => l.DurationInMinutes) ?? 0;
}

<div class="container-fluid" style="height:100px;">
    <div class="row clearfix">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card bg-darkteal exerciserank" style="height: 80px;">
                <div class="body">
                    <div class="font-20 align-center">
                        <div class="font-20">
                            @{
                                await Html.RenderPartialAsync("~/Views/LearnerProfile/Module/ExerciseSummary2020.cshtml", _learner);
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card bg-darkteal achivementRank" style="height: 80px;">
                <div class="body">
                    <div class="font-20 align-center">
                        <i class="zmdi livicon-evo"
                           data-options="name: trophy.svg; size: 24px; style: original; autoPlay:true"></i> Beyond 績效排行榜
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(".achivementRank").on("click", function (event) {
                $('').launchDownload('@Html.Raw(Url.Action("AchievementRankingOverview", "ConsoleHome"))');
                @*Swal.fire({
                    title: "想知道你的排名嗎？",
                    text: "春酒就揭曉！",
                    icon: "warning",
                    // showCancelButton: false,
                    // confirmButtonColor: "#DD6B55",
                    confirmButtonText: "敬請期待!",
                }).then((result) => {
                    // if (result.isConfirmed) {
                    //   $("#editActionModal").modal('show');
                    // }
                });*@
            });
        </script>
    </div>
</div>
