@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    Layout = "~/Views/LearnerActivity/Template/SimplePage.cshtml";
    ViewBag.From = "Campaign";
    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";

}
<div class="page-content" style="background-color: #fff !important;">
    <div class="menu-title pb-5">
        <a href="CampaignStrategy#faqs" class="close-menu color-beyond-dark"><i class="fa fa-times"></i>&nbsp;</a>
    </div>
    <div class="content mx-0 mt-5 pt-3" id="notice">
        <div class="mx-4 mx-lg-5 mx-md-5 ">
            <div class="tab-controls tabs-medium missionpoint" data-highlight="bg-beyondsunny-light"
                style="background: transparent!important">
                <a href="#" data-active data-bs-toggle="collapse" data-bs-target="#PT"
                    class="mx-2 me-lg-0 ms-lg-auto me-md-0 ms-md-auto letter-spacing-2 pb-0 font-16 font-600 d-flex flex-column align-items-center">
                    <img src="../images/icons/faqs/PT.svg" class="img-fluid mx-auto my-2" width="70" height="70">
                </a>
                <a href="#" data-bs-toggle="collapse" data-bs-target="#SR"
                    class="mx-auto letter-spacing-2 pb-0 font-16 font-600 d-flex flex-column align-items-center">
                    <img src="../images/icons/faqs/SR.svg" class="img-fluid mx-auto my-2" width="70" height="70">
                </a>
                <a href="#" data-bs-toggle="collapse" data-bs-target="#PI"
                    class="mx-2 ms-lg-0 me-lg-auto ms-md-0 me-md-auto letter-spacing-2 pb-0 font-16 font-600 d-flex flex-column align-items-center">
                    <img src="../images/icons/faqs/PI.svg" class="img-fluid mx-auto my-2" width="70" height="70">
                </a>
            </div>
            <div class="clearfix my-5"></div>
        </div>

        <div data-bs-parent="#notice" class="collapse show mx-4 mx-lg-5 mx-md-5" id="PT">
            <table class="table level-table py-0 mt-3 my-2 align-self-center px-0 py-0 hidden-sm-up">
                <thead>
                    <tr class="table-header">
                        <th colspan="4" class="text-center font-15 pt-3 pb-3 letter-spacing-2 font-18">
                            Beyond Points
                        </th>
                    </tr>
                    <tr class="text-4">
                        <th class="text-start font-13 bg-pink-01">條件狀態</th>
                        <th class="text-center bg-gold-01 py-2 font-13" width="25%">健康自評<span
                                class="font-400 font-12 d-block">Waiver</span></th>
                        <th class="text-center bg-gold-01 py-2 font-13" width="30%">職人質量檢視<span
                                class="font-400 font-12 d-block">Assessment</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="px-2 px-lg-5 px-md-5">
                        <td class="text-start font-14 font-500 bg-pink-02">複合式顧問合約<br
                                class="d-block d-lg-none d-md-none" />P.T課程</td>
                        <td class="text-center bg-gold-02">10 P</td>
                        <td class="text-center bg-gold-03">10 P</td>
                    </tr>
                    <tr class="px-2 px-lg-5 px-md-5">
                        <td class="text-start font-14 font-500 bg-pink-03">單堂購買P.T課程</td>
                        <td class="text-center bg-gold-03">10 P</td>
                        <td class="text-center bg-white-01">10 P</td>
                    </tr>
                    <tr class="px-2 px-lg-5 px-md-5">
                        <td class="text-start font-14 font-500 bg-pink-02">一對多體能顧問<br class="d-block d-lg-none d-md-none"/>課程</td>
                        <td class="text-center bg-gold-02">5 P</td>
                        <td class="text-center bg-gold-03">5 P</td>
                    </tr>
                </tbody>
            </table>
            <span class="color-theme opacity-50 font-12">※ 未在上述列表之P.T課程，不提供任務點數</span>
        </div>
        <div data-bs-parent="#notice" class="collapse mx-4 mx-lg-5 mx-md-5" id="SR">
            <table class="table level-table py-0 mt-3 my-2 align-self-center px-0 py-0 hidden-sm-up">
                <thead>
                    <tr class="table-header">
                        <th colspan="4" class="text-center font-15 pt-3 pb-3 letter-spacing-2 font-18">
                            Beyond Points
                        </th>
                    </tr>
                    <tr class="text-4">
                        <th class="text-start font-13 bg-pink-01">條件狀態</th>
                        <th class="text-center font-13 bg-gold-01" width="30%">職人質量檢視<span
                                class="font-400 font-12 d-block">Assessment</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="px-2 px-lg-5 px-md-5">
                        <td class="text-start font-14 font-500 bg-pink-02">運動恢復合約課程</td>
                        <td class="text-center bg-gold-02">10 P</td>
                    </tr>
                    <tr class="px-2 px-lg-5 px-md-5">
                        <td class="text-start font-14 font-500 bg-pink-03">複合式顧問合約S.R課程（含加購）</td>
                        <td class="text-center bg-gold-03">10 P</td>
                    </tr>
                    <tr class="px-2 px-lg-5 px-md-5">
                        <td class="text-start font-14 font-500 bg-pink-02">單堂購買S.R課程</td>
                        <td class="text-center bg-gold-02">10 P</td>
                    </tr>
                    <tr class="px-2 px-lg-5 px-md-5">
                        <td class="text-start font-14 font-500 bg-pink-03">體驗購買S.R課程</td>
                        <td class="text-center bg-gold-03">5 P</td>
                    </tr>
                </tbody>
            </table>
            <span class="color-theme opacity-50 font-12">※ 未在上述列表之S.R課程，不提供任務點數</span>
        </div>
        <div data-bs-parent="#notice" class="collapse mx-4 mx-lg-5 mx-md-5" id="PI">
            <table class="table level-table py-0 mt-3 my-2 align-self-center px-0 py-0 hidden-sm-up">
                <thead>
                    <tr class="table-header">
                        <th colspan="4" class="text-center font-15 pt-3 pb-3 letter-spacing-2 font-18">
                            Beyond Points
                        </th>
                    </tr>
                    <tr class="text-4">
                        <th class="text-start font-13 bg-pink-01">條件狀態</th>
                        <th class="text-center bg-gold-01 py-2 font-13" width="25%">健康自評<span
                                class="font-400 font-12 d-block">Waiver</span></th>
                        <th class="text-center bg-gold-01 py-2 font-13" width="30%">職人質量檢視<span
                                class="font-400 font-12 d-block">Assessment</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="px-2 px-lg-5 px-md-5">
                        <td class="text-start font-14 font-500 bg-pink-03">全方位自主<br
                                class="d-block d-lg-none d-md-none" />體能訓練服務</td>
                        <td class="text-center bg-gold-03">5 P</td>
                        <td class="text-center bg-white-01">5 P</td>
                    </tr>
                    <tr class="px-2 px-lg-5 px-md-5">
                        <td class="text-start font-14 font-500 bg-pink-02">有氧自主<br
                                class="d-block d-lg-none d-md-none" />體能訓練服務</td>
                        <td class="text-center bg-gold-02">3 P</td>
                        <td class="text-center bg-gold-03">3 P</td>
                    </tr>
                </tbody>
            </table>
            <span class="color-theme opacity-50 font-12">※ 未在上述列表之P.I課程，不提供任務點數</span>
        </div>
        <div class="px-5 py-2 font-13">
            <div class="divider bg-beyondwhite-dark mt-4 mb-4"></div>
            <p class="mb-0">注意事項：</p>
            <ul class="ps-3 mb-0">
                <li>為免文字產生歧義，將舊制Beyond幣統稱舊幣，新制下統稱Beyond Points或Beyond Points點數。</li>
                <li>凡Beyond會員即可參與Beyond Points FunRun點數累積活動，相關點數累積說明事項如下，有關點數使用方式及會員權益請另參照Beyond會員權益約定條款。Beyond
                    Fitness保留隨時修改、變更、終止以上任務之權利，其他未盡事宜將於後續公告並實施。</li>
                <li>Beyond Points累積乃自成為Beyond Points
                    FunRun後始啟動累點機制，如為加入Beyond舊會員系統前之交易恕無法溯及既往，惟2024/10/01之前，每1點舊制Beyond幣(以下簡稱「舊幣」)，交換100點Beyond Points。
                </li>
                <li>Beyond
                    Points有效期限至點數產生次年12/31止，未兌換完畢之點數逾期後將全數消除，並不得要求變現、轉換其他點數、商品等。(例如：2024年所產生之點數，點數有效期限至2025/12/31止，未兌換點數於2026/1/1全數消除。)
                </li>
            </ul>
            @{
                await Html.RenderPartialAsync("~/Views/LearnerActivity/Page.zh-TW/Module/CampainCommonNotice.cshtml");
            }
        </div>
    </div>
    <a href="CampaignStrategy#faqs"
        class="color-beyondred-dark text-uppercase font-700 text-center p-3 w-100 d-block opacity-60 font-14">關閉視窗，狠心離開</a>
</div>
<!-- end of page content-->