@using System.IO
@using System.Linq.Expressions
@using System.Text
@using System.Net
@using System.Net.Mail
@using System.Web
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.Extensions.Logging
@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources
@using WebHome.Properties;
@{
    Layout = "~/Views/LearnerActivity/Template/SimplePage.cshtml";

    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];
    _modelState = ViewContext.ModelState;

    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";

    //await Html.RenderPartialAsync("~/Views/LearnerActivity/Template/GlobalResource.cshtml");
    //dynamic globalResource = ViewContext.HttpContext.Items["GlobalResource"] as dynamic;
}
<div id="page">
    <div class="page-content">
        <div class="page-title page-title-small text-center">
            <a href="https://www.beyond-fitness.com.tw/"><img src="../images/preload-logo-gold.svg" width="80" class="mx-auto"></a>
        </div>
        <div class="card header-card shape-rounded" data-card-height="250">
            <div class="card-overlay bg-beyond-dark opacity-95"></div>
            <!-- <div class="card-overlay dark-mode-tint"></div> -->
        </div>
        <div class="content">
            <div class="card bg-transparent mb-0 mx-auto" data-card-height="80" style="width: 250px;box-shadow:none">
                <div class="card-bottom">
                    <h1 class="font-700 text-center color-white font-32 mb-1">驗證失敗</h1>
                    <p class="text-center z-index-10 color-beyondred-dark">Email Unsucessful</p>
                </div>
            </div>
            <div class="content mb-3 mx-0 text-center" style="margin-top: 150px;">
                <p class="boxed-text-l my-5 font-15 text-start">
                    您的驗證E-mail連結<u class="color-beyondred-dark px-2">已失效</u>，請您登入系統後重新操作更新Email功能。
                </p>
                <a href="Login"
                   class="close-menu btn rounded-xl border-light border-opacity-50 color-beyondwhite-dark  bg-beyond-dark font-400 px-5 py-2 font-16 fst-italic mt-5 letter-spacing-1">登入</a>
            </div>
        </div>
    </div>
    <!-- end of page content-->
</div>