@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    Layout = "~/Views/LearnerActivity/Template/MainPage.cshtml";
    ViewBag.From = "Index";
    ViewBag.MenuDark = true;
    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";

    var profile = (await Context.GetUserAsync()).LoadInstance(models);

    StageProgress current = models.PromptCurrentStage();

    ViewBag.StageProgress = current;

    Player currentLevel = current != null ? profile.Player.Where(p => p.ProgressID == current.ProgressID).FirstOrDefault() : null;
    ViewBag.Player = currentLevel;
    var account = profile.BonusDepositAccount;

}

@section MainContent
{
    <div class="card header-card" data-card-height="280">
        <div class="card-overlay bg-beyond-dark opacity-95"></div>
    </div>

    @{ 
        ViewBag.Golden = true;
        await Html.RenderPartialAsync("~/Views/LearnerActivity/Page.zh-TW/Module/CampaignProcess/PlayerCurrentLevel.cshtml", currentLevel);
    }

    <div class="row gx-0">
        <div class="col-12">
            <!--任務專區-->
            <div class="card mb-0" style="background-color: #333333; min-height: 350px;">
                <div class="splide single-slider slider-no-arrows slider-no-dots homepage-slider mt-5 mx-0 mx-lg-5 mx-md-5"
                    id="single-slider-1">
                    <div class="splide__track">
                        <div class="splide__list">
                            <div class="splide__slide">
                                <div class="card card-style shadow-l preload-img" data-src="../images/card/mission-01.jpg"
                                    data-card-height="250">
                                    <div class="card-top p-3">
                                        <h5 class="color-beyondwhite-dark font-600">1/3 Missions</h5>
                                    </div>
                                    <div class="card-bottom p-3">
                                        <h1 class="font-24 font-700 color-white letter-spacing-2">每月挑戰</h1>
                                        <a href="CampaignWall#challenges"
                                            class="float-end btn btn-border rounded-xl fst-italic border-lightgray-dark bg-beyond-dark color-white px-3 py-1 font-13 mt-2">Read
                                            More</a>
                                    </div>
                                    <div class="card-overlay opacity-50"></div>
                                </div>
                            </div>
                            <div class="splide__slide">
                                <div class="card card-style shadow-l preload-img" data-src="../images/card/mission-02.jpg"
                                    data-card-height="250">
                                    <div class="card-top p-3">
                                        <h5 class="color-beyondwhite-dark font-600">2/3 Missions</h5>
                                    </div>
                                    <div class="card-bottom p-3">
                                        <h1 class="font-24 font-700 color-white letter-spacing-2">固定任務</h1>
                                        <a href="CampaignWall#tasks"
                                            class="float-end btn btn-border rounded-xl fst-italic border-lightgray-dark bg-beyond-dark color-white px-3 py-1 font-13 mt-2">Read
                                            More</a>
                                    </div>
                                    <div class="card-overlay bg-beyond-dark opacity-50"></div>
                                </div>
                            </div>
                            <div class="splide__slide">
                                <div class="card card-style shadow-l preload-img" data-src="../images/card/mission-03.jpg"
                                    data-card-height="250">
                                    <div class="card-top p-3">
                                        <h5 class="color-beyondwhite-dark font-600">3/3 Missions</h5>
                                    </div>
                                    <div class="card-bottom p-3">
                                        <h1 class="font-24 font-700 color-white letter-spacing-2">特殊任務</h1>
                                        <a href="CampaignWall#missions"
                                            class="float-end btn btn-border rounded-xl fst-italic border-lightgray-dark bg-beyond-dark color-whit px-3 py-1 font-12 mt-2">Read
                                            More</a>
                                    </div>
                                    <div class="card-overlay bg-beyond-dark opacity-50"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <!--點數專區-->
            <div class="card bg-beyond-dark" style="min-height: 350px;">
                <div class="content text-center mx-4 mx-lg-5 mx-md-5 my-5">
                <h4 class="text-uppercase letter-spacing-2 d-inline font-24 color-beyondred-dark my-3">點數<img src="../images/icons/beyond_coin.svg" width="50" class="px-2">專區<small class="ps-2 font-18 font-400 text-capitalize color-white d-block pt-3">@(account?.DepositPoint) Point</small></h4>
                    <div class="clearfix"></div>
                    <div class="row mt-5">
                        <a href="BonusPointQuery" class="col-6">
                            <div class="card card-style text-center py-3 mx-0 mb-0 coin-fuction-card">
                                <i class="fa-solid fa-magnifying-glass font-24"></i>
                                <p class="font-500 mb-n2 mt-3">查詢</p>
                            </div>
                        </a>
                        <a href="BonusAwardingStore" class="col-6">
                            <div class="card card-style text-center py-3 mx-0 mb-0 coin-fuction-card">
                                <i class="fa-solid fa-gift font-24"></i>
                                <p class="font-500 mb-n2 mt-3">兌點</p>
                            </div>
                        </a>
                    </div>
                    <div class="collaps collapse" id="pointCollapse">
                        <div class="row">
                            <a href="LearnerAward" class="col-6 mb-3">
                                <div class="card card-style text-center py-3 mx-0 mb-0 coin-fuction-card">
                                    <i class="fa-solid fa-ticket font-24"></i>
                                    <p class="font-500 mb-n2 mt-3">我的兌換</p>
                                </div>
                            </a>
                            <a href="#" class="col-6 mb-3">
                                <div class="card card-style text-center py-3 mx-0 mb-0 coin-fuction-card">
                                    <i class="fa-solid fa-right-left font-24 color-white opacity-40"></i>
                                    <p class="font-500 mb-n2 mt-3 opacity-40">移轉</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <a data-bs-toggle="collapse" href="#pointCollapse"
                        class="btn btn-border rounded-xl border-lightgray-dark bg-beyond-dark color-beyondwhite-dark px-4 py-2 font-15">更多功能<i
                            class="fa-solid fa-angle-down px-2"></i></a>
                </div>
            </div>
        </div>
    </div>
}
