@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    Layout = "~/Views/LearnerActivity/Template/MainPage.cshtml";
    ViewBag.From = "Index";
    ViewBag.MenuDark = true;
    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";

    var profile = (await Context.GetUserAsync()).LoadInstance(models);

    StageProgress current = models.PromptCurrentStage();

    ViewBag.StageProgress = current;

    Player currentLevel = current != null ? profile.Player.Where(p => p.ProgressID == current.ProgressID).FirstOrDefault() : null;
    ViewBag.Player = currentLevel;
    var account = profile.BonusDepositAccount;
    if (account == null)
    {
        account = profile.BonusDepositAccount = new BonusDepositAccount
        {
            UID = profile.UID,
            DepositPoint = 0,
        };

        models.SubmitChanges();
    }
}

@section MainContent
{
    <div class="card header-card" data-card-height="280">
        <div class="card-overlay bg-beyond-dark opacity-95"></div>
    </div>

    @*@{
            ViewBag.Golden = true;
            await Html.RenderPartialAsync("~/Views/LearnerActivity/Page.zh-TW/Module/CampaignProcess/PlayerCurrentLevel.cshtml", currentLevel);
        }*@

    <!--Beyond幣與會員等級-->

    <div class="content showCampaign">

        <div class="card bg-transparent mb-0 mx-auto" data-card-height="200" style="width: 300px; background-color: #333333; box-shadow: none !important;">

            <div class="card-top text-center py-5 align-self-center">

                <!-- <span class="icon icon-xl rounded-s"><img src="../images/icons/session/yoga.svg" width="60"></span> -->

                <h4 class="text-uppercase letter-spacing-2 d-inline font-24 color-beyondred-dark my-3">
                    點數<img src="../images/icons/bpoints/points.svg" width="50" class="px-2 mt-n1">專區<small class="ps-2 font-18 font-400 text-capitalize color-white d-block pt-2">@(account?.DepositPoint) Points</small>
                </h4>

                @{
                    await Html.RenderPartialAsync("~/Views/LearnerActivity/Page.zh-TW/Module/BonusExpire.cshtml", account);
                }

            </div>
        </div>

    </div>
    <div class="row gx-0">
        <div class="col-12">
            <!--點數專區-->
            <div class="card bg-beyond-dark" style="min-height: 350px;">
                <div class="content text-center mx-4 mx-lg-5 mx-md-5 my-5">
                   
                    <div class="clearfix"></div>
                    <div class="row mt-5">
                        <a href="BonusPointQuery" class="col-6">
                            <div class="card card-style text-center py-3 mx-0 mb-0 coin-fuction-card">
                                <i class="fa-solid fa-magnifying-glass font-24"></i>
                                <p class="font-500 mb-n2 mt-3">查詢</p>
                            </div>
                        </a>
                        <a href="BonusAwardingStore" class="col-6">
                            <div class="card card-style text-center py-3 mx-0 mb-0 coin-fuction-card">
                                <i class="fa-solid fa-gift font-24"></i>
                                <p class="font-500 mb-n2 mt-3">兌點</p>
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="LearnerAward" class="col-6 mb-3">
                            <div class="card card-style text-center py-3 mx-0 mb-0 coin-fuction-card">
                                <i class="fa-solid fa-ticket font-24"></i>
                                <p class="font-500 mb-n2 mt-3">我的兌換</p>
                            </div>
                        </a>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
}
@section PopupBox
{
    <!--任務點數回饋說明注意事項-->
    <div id="popup-pointInfo" class="menu menu-box-modal auto menu-box-detached rounded-m" data-menu-height="600"
         data-menu-effect="menu-over" data-menu-load="PopupCampainPointNotice" style="background-color: #fff !important;">
    </div>
    <!--敬啟期待中-->
    <div id="menu-soon" class="menu menu-box-bottom menu-box-detached bg-white rounded-m" data-menu-height="300"
         data-menu-effect="menu-over" style="display: block;">
        <h1 class="text-center mt-4">
            <i class="fa-brands fa-soundcloud fa-3x color-beyondred-dark rounded-circle"></i></i>
        </h1>
        <h1 class="text-center mt-3 text-uppercase color-dark font-700">Coming Soon</h1>
        <p class="boxed-text-l color-dark opacity-80 line-height-l text-start">
            我們正全力打造這項新功能，以提供更優質的服務體驗。目前暫未開放，敬請期待，我們將儘快與您見面！
        </p>
    </div>
}