

@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility

@using Newtonsoft.Json
@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    var availableItems = models.GetTable<BlogArticle>().Where(b => !b.NotAfter.HasValue || b.NotAfter >= DateTime.Today);

    var item = availableItems.OrderByDescending(a => a.DocID).FirstOrDefault();
}
<div class="menu-title">
    <a href="#" class="close-menu border-right-0 text-end pe-3 mt-3"><i class="fa font-30 color-theme fa-times"></i></a>
</div>

<div class="content">
    <h1 class="text-center mt-5 mb-1 color-beyondred-dark letter-spacing-2">News·</h1>
    <h4 class="text-center font-400 font-15 letter-spacing-2">最新文章</h4>
    <img src="@Html.Raw($"{WebHome.WebApp.Properties["HostDomain"]}{VirtualPathUtility.ToAbsolute($"~/BlogContent/Blog/{item.BlogID}/images/Title.jpg")}")"
        class="img-fluid mt-5 mx-auto">
    <h1 class="boxed-text-l text-start mt-5 text-uppercase color-dark font-700">@Html.Raw(item.Title)</h1>
    <p class="boxed-text-l color-dark opacity-80 line-height-l text-start mt-4 font-16">@Html.Raw(item.Subtitle)</p>
    <a href="@Html.Raw($"{VirtualPathUtility.ToAbsolute($"~/Official/tw/BlogSingle")}?{(new { item.DocID }).JsonStringify().EncryptKeyNormal().UrlEncodeBase64String()}")"
        target="_blank"
        class="close-menu btn btn-center-l rounded-xl btn-margins border-lightgray-dark color-beyondwhite-dark bg-beyond-dark font-500 px-3 py-2 font-15 mt-5 mx-auto letter-spacing-1">離開此頁面閱讀文章</a>

</div>