

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using Newtonsoft.Json
@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

}

<h1 class="text-center mt-5 mb-1 color-beyondred-dark letter-spacing-2">News·</h1>

<h4 class="text-center font-400 font-15 letter-spacing-2">最新文章</h4>



<img src="https://www.beyond-fitness.com.tw/BlogContent/blog/20240321/images/Cover.jpg" class="img-fluid mt-5 mx-auto">

<h1 class="boxed-text-l text-start mt-5 text-uppercase color-dark font-700">關於老年人防跌倒，你知道多少？</h1>

<p class="boxed-text-l color-dark opacity-80 line-height-l text-start mt-4 font-16">

    老年人防跌倒的關鍵，了解原因及如何透過運動，讓親愛的長者遠離風險，享受穩健的生活，保持健康活力！

</p>



<a href="https://www.beyond-fitness.com.tw/Official/tw/BlogSingle?X8g68mQU6rV6CEpIAeW1f_nnYnrR4cSi" target="_blank"
   class="close-menu btn btn-center-l rounded-xl btn-margins border-lightgray-dark color-beyondwhite-dark bg-beyond-dark font-500 px-3 py-2 font-15 mt-5 mx-auto letter-spacing-1">離開此頁面閱讀文章</a>
