@using System.IO
@using System.Linq.Expressions
@using System.Text
@using System.Net
@using System.Net.Mail
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.Extensions.Logging

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources
@using WebHome.Properties;
@{
    Layout = "~/Views/LearnerActivity/Template/SimplePage.cshtml";

    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
    ? "tw"
    : lang == "en-US"
    ? "en"
    : "ja";

    //await Html.RenderPartialAsync("~/Views/LearnerActivity/Template/GlobalResource.cshtml");
    //dynamic globalResource = ViewContext.HttpContext.Items["GlobalResource"] as dynamic;

    var profile = await Context.GetUserAsync();

    ExerciseTips item = null;
    var totalCount = models.GetTable<ExerciseTips>().Count();
    if (totalCount > 0)
    {
        var skipCount = (int)(DateTime.Now.Ticks % totalCount);
        item = models.GetTable<ExerciseTips>().Skip(skipCount).FirstOrDefault();
    }

}

<!-- 運動小學堂Tips- -->

<div id="sports-academy" class="menu menu-box-modal menu-active" data-menu-width="cover" data-menu-effect="menu-over">

    <div class="card" data-card-height="cover">

        <div class="menu-title">

            <a href="Events" class="close-menu color-theme"><i class="fa fa-times"></i></a>

        </div>

        @if (item != null)
        {
            <div class="content">

                <div class="card-center text-center mx-2">

                    <div class="row">

                        <div class="col-12">

                            <i class="fa-regular fa-lightbulb color-highlight fa-3x"></i>

                            <h1 class="pt-4 font-20 mb-0">運動小學堂 Tips</h1>

                            <p class="boxed-text-l pt-3 text-start pb-3">
                                @Html.Raw(item?.Tips)
                            </p>

                        </div>

                    </div>
                    @if (item.TipsArticleRelation.Any())
                    {
                        var idx = (int)(DateTime.Now.Ticks % item.TipsArticleRelation.Count);
                        var b = item.TipsArticleRelation[idx];
                        <a href="@Html.Raw($"{VirtualPathUtility.ToAbsolute($"~/Official/tw/BlogSingle")}?{(new { b.DocID }).JsonStringify().EncryptKeyNormal().UrlEncodeBase64String()}")" target="_blank"
                           class="btn btn-center-l rounded-xl btn-margins border-lightgray-dark color-beyondwhite-dark bg-beyond-dark font-500 px-3 py-2 font-15 mt-5 mx-auto letter-spacing-1">離開此頁面閱讀相關文章</a>
                    }
                </div>

            </div>

        }

    </div>

</div>
<script>
    $(function () {
        $('#sports-academy').addClass('menu-active');
        $('.menu-hider').addClass('menu-active');
    });
</script>