@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using System.Web

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources
@using WebHome.Properties
@using WebHome.Helper.BusinessOperation

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    Layout = "~/Views/LearnerActivity/Template/MainPage.cshtml";
    ViewBag.TransactionType = "Contract";
    ViewBag.From = "TransactionForHistoryContract";

    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";

    var profile = (await Context.GetUserAsync()).LoadInstance(models);
    var _learner = profile;

}


@section MainContent
{

    <div class="card header-card" data-card-height="310">
        <div class="card-overlay bg-beyond-dark opacity-95"></div>
    </div>
    @{
        await Html.RenderPartialAsync("~/Views/LearnerActivity/Page.zh-TW/Module/TransactionTypeItem.cshtml");
    }
    <!--合約清單-->
    <div class="card mt-5 mb-0" style="box-shadow:none">
        <div class="content mx-4 mx-lg-5 mx-md-4 my-5">
            <h4 class="mb-2 text-uppercase letter-spacing-2 d-inline font-20">
                歷史合約·<small class="ps-2 font-14 font-400 text-capitalize opacity-60">History Contract</small>
            </h4>
            <svg width="100%" height="10" xmlns="http://www.w3.org/2000/svg" class="mt-3 mb-5">
                <rect x="0" y="0" width="50" height="3" rx="3" ry="3" fill="#E76751" />
            </svg>
            <div class="clearfix"></div>
            @{
                await Html.RenderPartialAsync("~/Views/LearnerActivity/Page.zh-TW/Module/CourseContractHistoryList.cshtml");
            }
            <p id="moreItems">
                <a href="javascript:readMore();"
                   class="float-end btn btn-border rounded-xl fst-italic border-lightgray-dark color-theme bg-theme px-3 py-1 font-14 mt-5">載入更多 ...</a>
            </p>
            <p>
                <a href="TransactionForActiveContract"
                   class="float-end btn btn-border rounded-xl fst-italic border-lightgray-dark color-theme bg-theme px-3 py-1 font-14 mt-5">生效中合約</a>
            </p>
        </div>
    </div>
    <script>
        function gotoContractInfo(keyID) {
            $('').launchDownload('@Html.Raw(Url.Action("ContractInfo", "LearnerActivity"))', { 'keyID': keyID, 'from': '@Html.Raw(Url.Action("TransactionForHistoryContract","LearnerActivity"))' });
        }

        var currentIndex = 0;
        function readMore() {
            var viewModel = {
                'currentIndex': currentIndex
            };
            doPost('@Html.Raw(Url.Action("CourseContractHistoryList", "LearnerActivity"))', viewModel,
                function (data) {
                    $(data).insertBefore($('#moreItems'));
                    if (currentIndex < 0) {
                        $('#moreItems').remove();
                    }
                },
                function () {
                    
                });
        }
    </script>
}

@section PopupBox
{
   
}