@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using System.Web

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources
@using WebHome.Properties
@using WebHome.Helper.BusinessOperation

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    Layout = "~/Views/LearnerActivity/Template/MainPage.cshtml";
    ViewBag.From = "Single";

    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";

    var profile = (await Context.GetUserAsync()).LoadInstance(models);
    var _learner = profile.LoadInstance(models);

}
@{
    var propertyItems = models.GetTable<LessonPriceProperty>().Where(p => p.PropertyID == (int)Naming.LessonPriceFeature.單堂現場付款);
    var registerItems = models.GetTable<RegisterLesson>()
                            .Where(r => r.UID == profile.UID)
                            .Where(r => propertyItems.Any(p => r.ClassLevel == p.PriceID));
    var lessonItems = models.GetTable<LessonTime>()
                                .Where(l => registerItems.Any(r => l.GroupID == r.RegisterGroupID))
                                .OrderByDescending(l => l.LessonID)
                                .Take(10);
}

@section MainContent
{

    <div class="card header-card" data-card-height="310">
        <div class="card-overlay bg-beyond-dark opacity-95"></div>
    </div>
    @{
        await Html.RenderPartialAsync("~/Views/LearnerActivity/Page.zh-TW/Module/TransactionTypeItem.cshtml");
    }
    <!--單堂購買清單-->
    <div class="card" style="box-shadow:none">
        <div class="content mx-4 mx-lg-5 mx-md-4 my-5">
            <h4 class="mb-2 text-uppercase letter-spacing-2 d-inline font-20">
                單堂課程·<small class="ps-2 font-14 font-400 text-capitalize opacity-60">Single Session</small>
            </h4>
            <svg width="100%" height="10" xmlns="http://www.w3.org/2000/svg" class="mt-3 mb-5">
                <rect x="0" y="0" width="50" height="3" rx="3" ry="3" fill="#E76751" />
            </svg>
            <div class="clearfix"></div>
            <script>
                var currentIndex = 0;
            </script>
            @{
                await Html.RenderPartialAsync("~/Views/LearnerActivity/Page.zh-TW/Module/SingleLessonItemList.cshtml");
            }
            <p class="text-center pb-3" id="moreItems">
                <a href="javascript:readMore();"
                   class="btn border-0 fst-italic border-lightgray-dark color-theme bg-theme px-3 py-1 font-14 mt-5">
                    Read More<i class="fa-solid fa-angles-down ps-2"></i>
                </a>
            </p>
        </div>
    </div>
    <script>
        function showPaymentInfo(keyID) {
            var viewModel = {
                'KeyID': keyID
            };
            doPost('@Html.Raw(Url.Action("ShowPaymentInfo", "LearnerActivity"))', viewModel,
                function (data) {
                    $('#payment-info').html(data);
                    $('#payment-info').addClass('menu-active');
                    $('.menu-hider').addClass('menu-active');
                },
                function () {
                    $('.menu-active').removeClass('menu-active');
                });
        }

        function readMore() {
            var viewModel = {
                'currentIndex': currentIndex
            };
            doPost('@Html.Raw(Url.Action("SingleLessonItemList", "LearnerActivity"))', viewModel,
                function (data) {
                    $(data).insertBefore($('#moreItems'));
                    if (currentIndex < 0) {
                        $('#moreItems').remove();
                    }
                },
                function () {

                });
        }

        $(function () {
            if (currentIndex < 0) {
                $('#moreItems').remove();
            }
        });
    </script>
}

@section PopupBox
{
    <div id="payment-info" class="menu menu-box-bottom menu-box-modal rounded-0"
         data-menu-width="cover" data-menu-effect="menu-over">

    </div>

}