@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources

@{
    Layout = "~/Views/LearnerActivity/Template/BasicPage.cshtml";

    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";
    var settingsActive = "";
    var contactBookActive = "";
    if (ViewBag.Footer == "Settings")
    {
        settingsActive = "active-nav";
    }

    if (ViewBag.Footer == "ContactBook")
    {
        contactBookActive = "active-nav";
    }
}

@section Header
{
    <div class="header header-fixed header-auto-show header-logo-center mb-4">

        <a href="index.html" class="header-logo">Beyond<span class="color-highlight"> Fitness</span></a>

        <a href="#" data-menu="menu-main" class="header-icon header-icon-1 font-20 ">
            <i class="fas fa-bars"></i>&nbsp;
        </a>

        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-dark font-20">
            <i class="fa-regular fa-lightbulb"></i>&nbsp;
        </a>

        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-light font-20">
            <i class="fas fa-moon"></i>&nbsp;
        </a>

        <a href="calendar.html" class="header-icon header-icon-4 font-20">
            <i class="fa-solid fa-calendar-check"></i>&nbsp;
        </a>

    </div>
}

@section FooterBar
{
    <div id="footer-bar" class="footer-bar-2">

        <a href="index.html"><i class="fa-solid fa-mountain mb-2"></i><span class="font-12">任務牆</span></a>

        <a href="ContactBook" class="@(contactBookActive)"><i class="fa-solid fa-book mb-2"></i><span
                class="font-12">運動日誌</span></a>

        <a href="event-checkin.html">
            <i class="fa fa-bell mb-2"></i><span class="font-12">動態快訊</span><em class="badge bg-beyondred-dark">11</em>
        </a>

        <a href="#" data-menu="popup-official"><i class="fa-solid fa-newspaper mb-2"></i><span class="font-12">精選文章</span></a>

        <a href="Settings" class="@(settingsActive)"><i class="fa-solid fa-palette mb-2"></i><span
                class="font-12">喜好設定</span></a>

    </div>
}

@RenderSection("MainContent", false)

@section PopupBox
{
    @RenderSection("PopupBox", false)
}
