

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using WebHome.Models.Resources
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;
    IFormCollection _model = this.Model as IFormCollection;
    Layout = "~/Views/MainActivity/Template/MainPage.cshtml";
    ViewBag.MainClass = "findus";    
    ViewBag.MenuDark = false;

    await Html.RenderPartialAsync("~/Views/MainActivity/Template/GlobalResource.cshtml");
    dynamic globalResource = ViewContext.HttpContext.Items["GlobalResource"] as dynamic;
    dynamic findUsAll = globalResource["FindUs"][ViewBag.Lang ?? "zh-TW"] as dynamic;
}

@section CustomHeader {
    <meta name="description"
          content="位於台北市中心的私人教練商家，台北市推薦健身房健身課程，適合年長者、孕婦、女性，專長於私人教練與營養諮詢，鄰近捷運站，東門站，忠孝復興站，忠孝新生站，忠孝敦化站，信義安和站，台北小巨蛋的私人教練健身課程，松山區健身、信義區健身、大安區健身體能訓練中心。" />

}
<!--Banner-->
<section class="section border-0 m-0 p-0 banner container-background">
</section>
<!--分店-->
<section id="main"
    class="parallax section section-parallax section-center section-no-background section-text-dark border-0 mt-0 mb-0 py-0">
    <div class="container">
        <div class="row py-5 justify-content-center">
            @{
                dynamic branches = findUsAll.BranchItems;
                if (branches != null)
                {
                    JArray branch = branches as JArray;
                    dynamic[] item = branch.ToArray();
                    for (int i = 0; i < item.Length; i++)
                    {
                        String branchName = item[i].SubClass;
                         <div class="col-6 col-lg-3 col-md-3 col-sm-6 py-2">
                            <div class="card bg-color-dark custom-shape-card @Html.Raw(item[i].CircleBg)"
                                onclick="javascript:bindTrackingCode('null', 'null', '@(Url.Action("BranchInfo", "Official", new {Branch=branchName}))', null)">
                                <div class="card-body px-2 d-flex align-items-center justify-content-center">
                                    <div class="text-color-dark">
                                        <p class="text-3-4 text-center my-0 text-capitalize">@Html.Raw(item[i].NameDesc)</p>
                                        <h3 class="font-weight-bold mb-2 appear-animation" data-appear-animation="maskUp"
                                            data-appear-animation-delay="250">
                                            @Html.Raw(item[i].Name)</h3>
                                        <div class="divider divider-tertiary divider-small divider-xxs divider-small-center">
                                            <hr class="my-0" style="width: 50px; height: 3px;">
                                        </div>
                                        <p class="text-center my-0 font-weight-medium"><a class="text-color-dark">Go!</a></p>
                                    </div>
                                </div>                               
                            </div>
                        </div>                        
                    }
                }
            }                        
        </div>
    </div>
</section>
<!-- // Slogan -->
@{
    await Html.RenderPartialAsync("~/Views/MainActivity/Module/ContactItem.cshtml");
}
@section TailPageJavaScriptInclude {

}