@charset "UTF-8";
/**背景顏色**/
.bg-color-dark-charcoal {
  background-color: #333333 !important;
}

.custom-el-pos-1 {
  margin-top: -300px;
}

.custom-nav-arrows-1 .owl-nav .owl-prev,
.custom-nav-arrows-1 .owl-nav .owl-next {
  width: 45px !important;
  height: 120px !important;
  background: none !important;
}
.custom-nav-arrows-1 .owl-nav .owl-prev:hover,
.custom-nav-arrows-1 .owl-nav .owl-next:hover {
  background: transparent !important;
}
.custom-nav-arrows-1 .owl-nav .owl-prev:before,
.custom-nav-arrows-1 .owl-nav .owl-next:before {
  content: "" !important;
  position: absolute !important;
  top: 50% !important;
  left: 70% !important;
  width: 30px;
  height: 30px;
  border-top: 3px solid #E76751;
  border-left: 3px solid #E76751;
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}
.custom-nav-arrows-1 .owl-nav .owl-prev:after,
.custom-nav-arrows-1 .owl-nav .owl-next:after {
  content: "";
  display: block;
  position: absolute;
  left: 106%;
  top: 50%;
  width: 70px;
  transform: translate3d(-50%, -50%, 0);
}
.custom-nav-arrows-1 .owl-nav .owl-next {
  right: 0 !important;
}
.custom-nav-arrows-1 .owl-nav .owl-prev {
  left: 0 !important;
}

@media (max-width: 767px) {
  .custom-nav-arrows-1 .owl-nav .owl-prev,
  .custom-nav-arrows-1 .owl-nav .owl-next {
    width: 30px;
    height: 90px;
  }
  .custom-nav-arrows-1 .owl-nav .owl-prev:before,
  .custom-nav-arrows-1 .owl-nav .owl-next:before {
    width: 10px;
    height: 10px;
    border: 0px;
  }
  .custom-nav-arrows-1 .owl-nav .owl-prev:after,
  .custom-nav-arrows-1 .owl-nav .owl-next:after {
    width: 50px;
  }
}
.custom-nav-arrows-1 .owl-nav .owl-next {
  backface-visibility: hidden;
  transform: rotate(180deg) !important;
  transform-origin: 50% 28%;
}

/* 如果文字超过15个字符或高度超过100px，隐藏溢出部分并添加省略号 */
.overflow-ellipsis {
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  /* 设置要显示的行数 */
  -webkit-box-orient: vertical;
  max-height: 102px;
  /* 行数乘以行高 */
  line-height: 34px;
  /* 行高 */
}

/* 为了显示省略号，需要额外设置一个伪元素 */
.overflow-ellipsis::after {
  content: "......";
  /* 調整省略號的寬度，可以根據需要進行調整 */
}

u {
  text-underline-offset: 8px;
  font-weight: 500;
  text-decoration-color: #EBD8DF;
}

.banner {
  /*手寫Banner Title Imag*/
}
.banner h1 {
  color: #FFF;
  font-weight: 800;
  margin-bottom: 1.2rem;
  font-size: 3.5em;
  line-height: 1.2;
  letter-spacing: 0.12em;
}
.banner .handwriting-title {
  /* iPad直板 */
  /* 手機版 */
}
.banner .handwriting-title .title-img {
  object-fit: contain;
  width: 85%;
  position: relative;
  bottom: -50px;
}
@media (max-width: 990px) and (min-width: 768px) {
  .banner .handwriting-title h1 {
    position: relative;
    bottom: -150px;
  }
}
@media (max-width: 767px) {
  .banner .handwriting-title h1 {
    font-size: 2.5em;
    letter-spacing: 0.1em;
    position: relative;
    bottom: -100px;
  }
  .banner .handwriting-title .title-img {
    width: 100%;
    position: relative;
    top: 100px;
  }
}

/*Slogan*/
.slogan {
  /*slogan背景照片*/
}
.slogan.container-background {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  /* iPad橫板&直板 */
  /* 手機版 */
}

/*首頁*/
.home {
  /*活動專區*/
}
.home .banner {
  /*Banner背景照片*/
}
.home .banner .container-background {
  /* 預設的背景圖片 */
  background-image: url("../images/banner/index-lg.jpg");
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 100vh;
  /* 手機版 */
}
@media (max-width: 990px) {
  .home .banner .container-background {
    background-image: url("../images/banner/index-sm.jpg") !important;
  }
}
.home .youtube {
  /*背景照片*/
}
.home .youtube.container-background {
  /* 預設的背景圖片 */
  background-image: url("../images/home/youtube-lg.jpg") !important;
  background-size: cover !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  height: 900px;
  /* iPad橫板 */
  /* iPad直板 */
  /* 手機版 */
}
@media (max-width: 1199px) and (min-width: 991px) {
  .home .youtube.container-background {
    height: 600px;
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .home .youtube.container-background {
    height: 600px;
  }
}
@media (max-width: 767px) {
  .home .youtube.container-background {
    background-image: url("../images/home/youtube-sm.jpg") !important;
    background-position: top left !important;
    height: 450px;
  }
}
.home .youtube .player .st0 {
  fill: #EBD7BF;
}
.home .youtube-img {
  width: 30px !important;
}
.home .card {
  /* 設定卡片寬度 */
  padding: 0;
  /* 設定上方預留15px，其他方向為0 */
  border-radius: 25px;
  /* 設定圓角 */
  position: relative;
  /* 设置相对定位 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-width: 0;
  /* 選擇性添加陰影效果 */
  overflow: hidden;
  /* 隐藏超出卡片部分的内容 */
  color: #282828;
  /*照片置頂高度*/
  /* 手機版 */
}
.home .card .author {
  font-size: 0.85em;
  font-weight: 400;
  color: #282828;
}
.home .card .date {
  font-size: 0.85em;
  font-weight: 300;
  color: #282828;
}
.home .card .subject-title {
  font-size: 1.5em;
  font-weight: 600;
  color: #282828;
}
.home .card p {
  color: #282828 !important;
}
.home .card .card-img-top {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: top center;
  /* iPad橫板 */
  /* iPad直板 */
}
@media (max-width: 1199px) and (min-width: 991px) {
  .home .card .card-img-top {
    height: 300px;
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .home .card .card-img-top {
    height: 250px;
  }
}
@media (max-width: 767px) {
  .home .card {
    border-radius: 0px;
    /* 設定圓角 */
  }
  .home .card .card-img-top {
    border-radius: 0px;
  }
}
.home .reservation {
  /*背景照片*/
}
.home .reservation.container-background {
  /* 預設的背景圖片 */
  background-image: url("../images/home/reservation-lg.jpg") !important;
  background-size: cover !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  height: 900px;
  /* iPad直板 */
  /* 手機版 */
}
@media (max-width: 990px) and (min-width: 768px) {
  .home .reservation.container-background {
    height: 600px;
  }
}
@media (max-width: 767px) {
  .home .reservation.container-background {
    background-image: url("../images/home/reservation-sm.jpg") !important;
    background-position: top left !important;
    height: 450px;
  }
}
.home .player .st0 {
  fill: #EBD7BF;
}
.home .event .event-item .event01-img {
  border-radius: 25px;
  content: url("../images/events/event01-lg.jpg");
  /*手機版*/
}
@media (max-width: 767px) {
  .home .event .event-item .event01-img {
    border-radius: 0px;
    content: url("../images/events/event01-sm.jpg");
  }
}
.home .event .event-item .event02-img {
  border-radius: 25px;
  content: url("../images/events/event02-lg.jpg");
  /*手機版*/
}
@media (max-width: 767px) {
  .home .event .event-item .event02-img {
    border-radius: 0px;
    content: url("../images/events/event02-sm.jpg");
  }
}
.home .event .event-item .event03-img {
  border-radius: 25px;
  content: url("../images/events/event03-lg.jpg");
  /*手機版*/
}
@media (max-width: 767px) {
  .home .event .event-item .event03-img {
    border-radius: 0px;
    content: url("../images/events/event03-sm.jpg");
  }
}

/*專屬服務相關使用*/
.service {
  /*Slogan*/
}
.service .banner {
  /*Banner背景照片*/
}
.service .banner.container-background {
  /* 預設的背景圖片 */
  background-image: url("../images/banner/service-lg.jpg");
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 100vh;
  /* 手機版 */
}
@media (max-width: 767px) {
  .service .banner.container-background {
    background-image: url("../images/banner/service-sm.jpg") !important;
  }
}
.service .youtube {
  /*背景照片*/
}
.service .youtube.container-background {
  /* 預設的背景圖片 */
  background-image: url("../images/service/youtube-xl.jpg") !important;
  background-size: cover !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  height: 500px;
  /**iPad橫板*/
  /* iPad直板 */
  /* 手機版 */
}
@media (max-width: 1199px) and (min-width: 991px) {
  .service .youtube.container-background {
    background-image: url("../images/service/youtube-lg.png") !important;
    background-size: contain !important;
    background-position: bottom !important;
    height: 330px;
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .service .youtube.container-background {
    background-image: url("../images/service/youtube-md.png") !important;
    background-position: top right !important;
    background-size: cover !important;
    height: 500px;
  }
}
@media (max-width: 767px) {
  .service .youtube.container-background {
    background-image: url("../images/service/youtube-sm.jpg") !important;
    background-position: top left !important;
    background-size: cover !important;
    height: 330px;
  }
}
.service .youtube .player .st0 {
  fill: #EBD7BF;
}
.service .item-01-background {
  background-image: url("../images/service/item-01-line.svg");
  background-size: contain;
  background-position: top left 20px;
  background-repeat: no-repeat;
  height: auto;
  /**iPad橫板*/
}
@media (max-width: 1199px) and (min-width: 991px) {
  .service .item-01-background {
    background-position: top left 40px;
  }
}
.service .item-02-background {
  background-image: url("../images/service/item-02-line.svg");
  background-size: contain;
  background-position: top left -10px;
  background-repeat: no-repeat;
  height: auto;
  /**iPad橫板*/
}
@media (max-width: 1199px) and (min-width: 991px) {
  .service .item-02-background {
    background-position: top left 10px;
  }
}
.service .item-03-background {
  background-image: url("../images/service/item-01-line.svg");
  background-size: contain;
  background-position: top left 0px;
  background-repeat: no-repeat;
  height: 250px;
  /**iPad橫板*/
}
@media (max-width: 1199px) and (min-width: 991px) {
  .service .item-03-background {
    background-position: top left 0px;
  }
}
.service .item-01-img {
  object-fit: cover;
  width: 100%;
  object-position: right center;
}
@media (max-width: 1199px) and (min-width: 991px) {
  .service .item-01-img {
    width: 160%;
  }
}
.service .item-02-img {
  width: 100%;
}
@media (max-width: 1199px) and (min-width: 991px) {
  .service .item-02-img {
    width: 130%;
  }
}
@media (max-width: 990px) {
  .service .item-02-img {
    width: 100%;
  }
}
.service .item-02-roundcard {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  box-shadow: 0px 0px 0px 0px transparent !important;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  /*iPad直板*/
  /*手機*/
}
@media (max-width: 1180px) and (min-width: 991px) {
  .service .item-02-roundcard {
    max-width: 200px;
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .service .item-02-roundcard {
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 767px) {
  .service .item-02-roundcard {
    max-width: 280px;
  }
}
.service .slogan {
  /*slogan背景照片*/
}
.service .slogan.container-background {
  /* 預設的背景圖片 */
  background-image: url("../images/slogan/service-lg.jpg") !important;
  /* 手機版 */
}
@media (max-width: 767px) {
  .service .slogan.container-background {
    background-position: top center !important;
    background-image: url("../images/slogan/service-sm.jpg") !important;
  }
}

/*加入我們相關使用*/
.joinus {
  background-color: #FFF;
  color: #282828;
  /*員工之聲*/
  /*職缺一覽*/
  /*Slogan*/
}
.joinus .banner {
  /*Banner背景照片*/
}
.joinus .banner.container-background {
  /* 預設的背景圖片 */
  background-image: url("../images/banner/joinus-lg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  /* 手機版 */
}
@media (max-width: 767px) {
  .joinus .banner.container-background {
    background-image: url("../images/banner/joinus-sm.jpg") !important;
  }
}
.joinus .message-img {
  height: 400px;
  left: 50px;
  top: -100px;
  /* iPad橫板 */
  /* iPad直板 */
  /* 手機版 */
}
@media (max-width: 1199px) and (min-width: 991px) {
  .joinus .message-img {
    left: -140px;
    top: -100px;
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .joinus .message-img {
    left: -300px;
    top: -180px;
    object-fit: contain;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .joinus .message-img {
    position: relative;
    height: 300px;
    left: -20px;
    top: 0px;
    object-fit: contain;
  }
}
.joinus .custom-squareround-card {
  border-top-left-radius: 100% 60%;
  border-top-right-radius: 100% 60%;
  border-bottom-left-radius: 100% 60%;
  border-bottom-right-radius: 100% 60%;
  max-width: 320px;
  max-height: 500px;
  cursor: pointer;
  /* 手機版 */
}
@media (max-width: 767px) {
  .joinus .custom-squareround-card {
    border-top-left-radius: 100% 70%;
    border-top-right-radius: 100% 70%;
    border-bottom-left-radius: 100% 70%;
    border-bottom-right-radius: 100% 70%;
  }
}
.joinus .custom-squareround-card .avatar-img {
  border-radius: 50%;
  max-height: 250px;
  max-width: 250px;
  display: inline;
}
.joinus .training-img {
  position: relative;
  object-fit: cover;
  width: 100%;
  object-position: right center;
  content: url("../images/joinus/traning.png");
  /* iPad橫板 */
  /* iPad直板 */
  /* 手機版 */
}
@media (max-width: 1199px) and (min-width: 991px) {
  .joinus .training-img {
    content: url("../images/joinus/traning-md.png");
    object-fit: none;
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .joinus .training-img {
    content: url("../images/joinus/traning.png");
    object-position: center center;
    width: 140%;
    left: -200px;
  }
}
@media (max-width: 767px) {
  .joinus .training-img {
    content: url("../images/joinus/traning.png");
    object-position: center center;
    width: 180%;
    left: -200px;
  }
}
.joinus .custom-shape-card {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border-width: 0;
}
.joinus .custom-shape-card.left {
  background-image: url("../images/shape/white-left.png");
}
.joinus .custom-shape-card.right {
  background-image: url("../images/shape/white-right.png");
}
.joinus .custom-shape-card.full {
  background-image: url("../images/shape/circle-full-white.svg");
}
.joinus .slogan {
  /*slogan背景照片*/
}
.joinus .slogan.container-background {
  /* 預設的背景圖片 */
  background-image: url("../images/slogan/joinus-lg.jpg");
  background-position: top left !important;
  height: 600px;
  /* iPad橫板&直板 */
  /* 手機版 */
}
@media (max-width: 1199px) and (min-width: 768px) {
  .joinus .slogan.container-background {
    height: 500px;
  }
}
@media (max-width: 767px) {
  .joinus .slogan.container-background {
    background-image: url("../images/slogan/joinus-sm.jpg") !important;
    background-position: top center !important;
    height: 450px;
  }
}

/*門市一覽*/
.findus {
  /*分店一覽*/
  /*slogan*/
  /*Slogan*/
  /*地圖*/
}
.findus .banner {
  /* iPad直板 */
  /* 手機版 */
  /*Banner背景照片*/
  /*東門*/
  /*忠孝*/
  /*信義安和*/
  /*大直*/
}
@media (max-width: 990px) and (min-width: 768px) {
  .findus .banner h1 {
    position: relative;
    bottom: -150px;
  }
}
@media (max-width: 767px) {
  .findus .banner h1 {
    font-size: 2.5em;
    letter-spacing: 0.1em;
    position: relative;
    bottom: -100px;
  }
  .findus .banner h3 {
    position: relative;
    bottom: -100px;
  }
}
.findus .banner.container-background {
  /* 預設的背景圖片 */
  background-image: url("../images/banner/findus-lg.jpg");
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  /* 手機版 */
}
@media (max-width: 767px) {
  .findus .banner.container-background {
    background-image: url("../images/banner/findus-sm.jpg") !important;
    height: 110vh;
  }
}
.findus .banner .dongmen-1 {
  /* 預設的背景圖片 */
  background-image: url("../images/banner/dongmen-lg-1.jpg");
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  /* 手機版 */
}
@media (max-width: 767px) {
  .findus .banner .dongmen-1 {
    background-image: url("../images/banner/dongmen-sm-1.jpg") !important;
  }
}
.findus .banner .dongmen-2 {
  /* 預設的背景圖片 */
  background-image: url("../images/banner/dongmen-lg-2.jpg");
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  /* 手機版 */
}
@media (max-width: 767px) {
  .findus .banner .dongmen-2 {
    background-image: url("../images/banner/dongmen-sm-2.jpg") !important;
  }
}
.findus .banner .dongmen-3 {
  /* 預設的背景圖片 */
  background-image: url("../images/banner/dongmen-lg-3.jpg");
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  /* 手機版 */
}
@media (max-width: 767px) {
  .findus .banner .dongmen-3 {
    background-image: url("../images/banner/dongmen-sm-3.jpg") !important;
  }
}
.findus .banner .zhongxiao-1 {
  /* 預設的背景圖片 */
  background-image: url("../images/banner/zhongxiao-lg-1.jpg");
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  /* iPad直板 */
  /* 手機版 */
}
@media (max-width: 990px) and (min-width: 768px) {
  .findus .banner .zhongxiao-1 {
    background-position: top;
    background-image: url("../images/banner/zhongxiao-sm-1.jpg") !important;
  }
}
@media (max-width: 767px) {
  .findus .banner .zhongxiao-1 {
    background-position: bottom;
    background-image: url("../images/banner/zhongxiao-sm-1.jpg") !important;
  }
}
.findus .banner .zhongxiao-2 {
  /* 預設的背景圖片 */
  background-image: url("../images/banner/zhongxiao-lg-2.jpg");
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  /* 手機版 */
}
@media (max-width: 767px) {
  .findus .banner .zhongxiao-2 {
    background-image: url("../images/banner/zhongxiao-sm-2.jpg") !important;
  }
}
.findus .banner .xinyianhe-1 {
  /* 預設的背景圖片 */
  background-image: url("../images/banner/xinyianhe-lg.jpg");
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  /* 手機版 */
}
@media (max-width: 767px) {
  .findus .banner .xinyianhe-1 {
    background-image: url("../images/banner/xinyianhe-sm.jpg") !important;
  }
}
.findus .banner .nanjing-1 {
  /* 預設的背景圖片 */
  background-image: url("../images/banner/nanjing-lg.jpg");
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  /* 手機版 */
}
@media (max-width: 767px) {
  .findus .banner .nanjing-1 {
    background-image: url("../images/banner/nanjing-sm.jpg") !important;
  }
}
.findus .banner .dazhi-1 {
  /* 預設的背景圖片 */
  background-image: url("../images/banner/dazhi-lg.jpg");
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  /* 手機版 */
}
@media (max-width: 767px) {
  .findus .banner .dazhi-1 {
    background-image: url("../images/banner/dazhi-sm.jpg") !important;
  }
}
.findus .branch-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  justify-items: center;
  /* iPad橫板&直板 */
  /* iPad直板 */
  /* 手機版 */
  /* iPad portrait mode: 3 cards on top, 2 cards below */
  /* iPad直板 */
}
@media (max-width: 1199px) and (min-width: 990px) {
  .findus .branch-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 0.56rem;
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .findus .branch-container {
    grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
    gap: 0.32rem;
  }
}
@media (max-width: 767px) {
  .findus .branch-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
.findus .branch-container .custom-shape-card {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 100% 60%;
  border-top-right-radius: 100% 60%;
  border-bottom-left-radius: 100% 60%;
  border-bottom-right-radius: 100% 60%;
  border-width: 0;
  min-width: 200px;
  width: 200px;
  /* iPad直板 */
  /* 手機版 */
}
.findus .branch-container .custom-shape-card:hover {
  cursor: pointer;
}
.findus .branch-container .custom-shape-card.left {
  background-image: url("../images/shape/gold-left.png");
}
.findus .branch-container .custom-shape-card.right {
  background-image: url("../images/shape/gold-right.png");
}
.findus .branch-container .custom-shape-card.half {
  border-top-left-radius: 100% 0%;
  border-bottom-left-radius: 100% 0%;
  background-image: url("../images/shape/gold-half.png");
}
.findus .branch-container .custom-shape-card.full {
  background-image: url("../images/shape/gold-full.svg");
}
@media (max-width: 990px) and (min-width: 768px) {
  .findus .branch-container .custom-shape-card {
    min-width: 130px;
    width: 130px;
  }
}
@media (max-width: 767px) {
  .findus .branch-container .custom-shape-card {
    min-width: 150px;
    width: 150px;
  }
}
.findus .slogan-img {
  width: 60%;
  padding-left: 200px;
  /* iPad橫板&直板 */
  /* iPad直板&手機版 */
}
@media (max-width: 1199px) and (min-width: 768px) {
  .findus .slogan-img {
    width: 70%;
    padding-left: 30px;
  }
}
@media (max-width: 990px) {
  .findus .slogan-img {
    width: 100%;
    padding-left: 0px;
  }
}
.findus .slogan-img.dongmen {
  content: url("../images/handwriting/dongmen-slogan-lg.svg");
  /* 手機版 */
}
@media (max-width: 767px) {
  .findus .slogan-img.dongmen {
    content: url("../images/handwriting/dongmen-slogan-sm.svg");
  }
}
.findus .slogan-img.zhongxiao {
  content: url("../images/handwriting/zhongxiao-slogan-lg.svg");
  /* 手機版 */
}
@media (max-width: 767px) {
  .findus .slogan-img.zhongxiao {
    content: url("../images/handwriting/zhongxiao-slogan-sm.svg");
  }
}
.findus .slogan-img.xinyianhe {
  content: url("../images/handwriting/xinyianhe-slogan-lg.svg");
  /* 手機版 */
}
@media (max-width: 767px) {
  .findus .slogan-img.xinyianhe {
    content: url("../images/handwriting/xinyianhe-slogan-sm.svg");
  }
}
.findus .slogan-img.nanjing {
  content: url("../images/handwriting/nanjing-slogan-lg.svg");
  /* 手機版 */
}
@media (max-width: 767px) {
  .findus .slogan-img.nanjing {
    content: url("../images/handwriting/nanjing-slogan-sm.svg");
  }
}
.findus .slogan-img.dazhi {
  content: url("../images/handwriting/dazhi-slogan-lg.svg");
  /* 手機版 */
}
@media (max-width: 767px) {
  .findus .slogan-img.dazhi {
    content: url("../images/handwriting/dazhi-slogan-sm.svg");
  }
}
.findus .slogan {
  /*slogan*/
}
.findus .slogan.container-background {
  /* 預設的背景圖片 */
  background-image: url("../images/slogan/findus.jpg");
  background-position: top center !important;
  height: 550px;
  /* iPad橫板&直板 */
  /* 手機版 */
  /*東門分店*/
  /*忠孝分店*/
  /*南京分店*/
  /*信義安和分店*/
}
@media (max-width: 1199px) and (min-width: 768px) {
  .findus .slogan.container-background {
    height: 550px;
  }
}
@media (max-width: 767px) {
  .findus .slogan.container-background {
    height: 650px;
  }
}
.findus .slogan.container-background.dongmen {
  background-image: url("../images/slogan/dongmen-lg.jpg");
  /* PC */
  /* iPad直板 */
  /* iPad直板+手機 */
}
@media (min-width: 1200px) {
  .findus .slogan.container-background.dongmen {
    height: 900px;
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .findus .slogan.container-background.dongmen {
    background-image: url("../images/slogan/dongmen-sm.jpg");
    height: 900px;
  }
}
@media (max-width: 767px) {
  .findus .slogan.container-background.dongmen {
    background-image: url("../images/slogan/dongmen-sm.jpg");
  }
}
.findus .slogan.container-background.zhongxiao {
  background-image: url("../images/slogan/zhongxiao-lg-1.jpg");
  /* PC */
  /* iPad直板 */
  /* iPad直板+手機 */
}
@media (min-width: 1200px) {
  .findus .slogan.container-background.zhongxiao {
    height: 900px;
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .findus .slogan.container-background.zhongxiao {
    background-image: url("../images/slogan/zhongxiao-sm-1.jpg");
    height: 900px;
  }
}
@media (max-width: 767px) {
  .findus .slogan.container-background.zhongxiao {
    background-image: url("../images/slogan/zhongxiao-sm-1.jpg");
  }
}
.findus .slogan.container-background.nanjing {
  background-image: url("../images/slogan/nanjing-lg.jpg");
  /* PC */
  /* iPad直板 */
  /* 手機 */
}
@media (min-width: 1200px) {
  .findus .slogan.container-background.nanjing {
    height: 900px;
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .findus .slogan.container-background.nanjing {
    background-image: url("../images/slogan/nanjing-sm.jpg");
    height: 1200px;
  }
}
@media (max-width: 767px) {
  .findus .slogan.container-background.nanjing {
    background-image: url("../images/slogan/nanjing-sm.jpg");
    height: 800px;
  }
}
.findus .slogan.container-background.xinyianhe {
  background-image: url("../images/slogan/xinyianhe-lg.jpg");
  /* PC */
  /* iPad直板 */
  /* iPad直板+手機 */
}
@media (min-width: 1200px) {
  .findus .slogan.container-background.xinyianhe {
    height: 900px;
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .findus .slogan.container-background.xinyianhe {
    background-image: url("../images/slogan/xinyianhe-sm.jpg");
    height: 900px;
  }
}
@media (max-width: 767px) {
  .findus .slogan.container-background.xinyianhe {
    background-image: url("../images/slogan/xinyianhe-sm.jpg");
  }
}
.findus .map-img {
  object-fit: cover;
  width: 100%;
  object-position: center;
  /* iPad橫板 */
  /* iPad直板 */
  /* 手機版 */
}
@media (max-width: 1199px) and (min-width: 991px) {
  .findus .map-img {
    width: 120%;
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .findus .map-img {
    width: 75%;
  }
}
@media (max-width: 767px) {
  .findus .map-img {
    width: 100%;
  }
}

/*教練資訊*/
.coach-info .cover-card {
  /* 設定卡片寬度 */
  padding: 0;
  /* 設定上方預留15px，其他方向為0 */
  border-radius: 45px;
  /* 設定上方底色 */
  position: relative;
  border-width: 0;
  /* 選擇性添加陰影效果 */
  overflow: hidden;
  /* 隐藏超出卡片部分的内容 */
  background-image: url("../images/team/info-bg2-h.svg");
  background-size: 45% !important;
  background-position: bottom -60px right -2px !important;
  background-repeat: no-repeat !important;
  /* 手機版 */
}
.coach-info .cover-card .card-body {
  color: #282828;
}
.coach-info .cover-card .card-body p {
  color: #282828;
}
.coach-info .cover-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15px;
  /* 上方15px处的高度 */
  background-color: #EBD7BF;
  /* 上方底色 */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  /* 使用剪切路径匹配卡片的圆角 */
}
@media (max-width: 767px) {
  .coach-info .cover-card {
    background-image: none;
  }
}
.coach-info .ex-bg {
  position: relative;
  background-image: url("../images/team/info-bg2-w.svg");
  background-size: 15% !important;
  background-position: bottom 0px right -10px !important;
  background-repeat: no-repeat !important;
  /* 手机版 */
}
@media (max-width: 767px) {
  .coach-info .ex-bg {
    background-image: url("../images/team/info-bg2-h.svg");
    background-size: 100px 30% !important;
    background-position: bottom -10px right 8px !important;
  }
}
.coach-info .cover-img {
  width: 120%;
  /* iPad直板 */
}
@media (max-width: 990px) {
  .coach-info .cover-img {
    width: 100%;
  }
}
.coach-info .cover-info {
  position: absolute;
  top: 100px;
  left: 20px;
  /* iPad直板 */
  /* 手機版 */
}
@media (max-width: 990px) and (min-width: 768px) {
  .coach-info .cover-info {
    top: 150px;
    left: 50px;
  }
}
@media (max-width: 767px) {
  .coach-info .cover-info {
    top: 100px;
    left: 190px;
  }
}
.coach-info .card {
  /* 設定卡片寬度 */
  padding: 0;
  /* 設定上方預留15px，其他方向為0 */
  border-radius: 45px;
  /* 設定圓角 */
  background-color: #FFF;
  /* 設定上方底色 */
  position: relative;
  /* 设置相对定位 */
  box-shadow: 0 0 10px #282828;
  /* 選擇性添加陰影效果 */
  overflow: hidden;
  /* 隐藏超出卡片部分的内容 */
  border: none;
  /*照片置底高度*/
}
.coach-info .card .date {
  font-size: 1em;
  font-weight: 400;
  color: #282828;
}
.coach-info .card .card-body p {
  color: #282828;
}
.coach-info .card .card-img-bottom {
  width: 100%;
  max-height: 390px;
  object-fit: cover;
  /* iPad直板 */
  /* 手機版 */
}
@media (max-width: 990px) and (min-width: 768px) {
  .coach-info .card .card-img-bottom {
    height: 300px;
  }
}
@media (max-width: 767px) {
  .coach-info .card .card-img-bottom {
    height: 300px;
  }
}
.coach-info ul {
  font-size: 1.2em;
  color: #282828;
}
.coach-info ul li {
  line-height: 1.9;
}

/*合作夥伴資訊*/
.partner-info .card {
  /* 設定卡片寬度 */
  padding: 0;
  /* 設定上方預留15px，其他方向為0 */
  border-radius: 30px;
  /* 設定圓角 */
  background-color: #FFF;
  /* 設定上方底色 */
  position: relative;
  /* 设置相对定位 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-width: 0;
  /* 選擇性添加陰影效果 */
  overflow: hidden;
  /* 隐藏超出卡片部分的内容 */
}
.partner-info .card .catagory-title {
  font-size: 1.1em;
  font-weight: 500;
  font-style: italic;
  position: relative;
  margin-bottom: 0px;
}
.partner-info .card .catagory-title::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 50%;
  display: inline-block;
  background-color: var(--secondary);
  margin-left: 1em;
  /* 调整这个值以控制 ::after 的位置 */
}
.partner-info .card .catagory-title-zh {
  font-size: 1.1em;
  font-weight: 600;
}
.partner-info .card .card-body {
  color: #282828;
}
.partner-info .card .card-body p {
  color: #282828;
}

/*關於我們*/
.aboutus {
  background-color: #FFF;
  color: #282828;
  /*Slogan*/
}
.aboutus .banner {
  /*Banner背景照片*/
}
.aboutus .banner.container-background {
  /* 預設的背景圖片 */
  background-image: url("../images/banner/aboutus-lg.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 100vh;
  /* 手機版 */
}
@media (max-width: 767px) {
  .aboutus .banner.container-background {
    background-image: url("../images/banner/aboutus-sm.jpg") !important;
  }
}
.aboutus .philosophy-img {
  width: 100%;
  object-position: right center;
  overflow-x: hidden;
  /* iPad橫板&直板 */
  /* iPad直板 */
  /* 手機版 */
}
@media (max-width: 1199px) and (min-width: 991px) {
  .aboutus .philosophy-img {
    width: 140%;
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .aboutus .philosophy-img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .aboutus .philosophy-img {
    position: relative;
    width: 120%;
    right: 0;
    bottom: 0;
    content: url("../images/aboutus/philosophy-sm.png");
  }
}
.aboutus .business-img {
  object-fit: cover;
  width: 80%;
  object-position: right center;
  left: 150px;
  /* iPad橫板&直板 */
}
@media (max-width: 1199px) and (min-width: 991px) {
  .aboutus .business-img {
    left: -50px;
    width: 115%;
  }
}
.aboutus .slogan {
  /*slogan背景照片*/
}
.aboutus .slogan.container-background {
  /* 預設的背景圖片 */
  background-image: url("../images/slogan/aboutus-lg.jpg");
  background-position: top left !important;
  height: 600px;
  /* iPad橫板&直板 */
  /* 手機版 */
}
@media (max-width: 1199px) and (min-width: 768px) {
  .aboutus .slogan.container-background {
    height: 500px;
  }
}
@media (max-width: 767px) {
  .aboutus .slogan.container-background {
    background-image: url("../images/slogan/aboutus-sm.jpg") !important;
    height: 450px;
  }
}
.aboutus .yotube {
  /*slogan背景照片*/
}
.aboutus .yotube.container-background {
  /* 預設的背景圖片 */
  background-image: url("../images/aboutus/vision-lg.png");
  background-size: contain !important;
  background-position: center left !important;
  background-repeat: no-repeat !important;
  height: 600px;
  /* iPad橫板&直板 */
  /* iPad直板 */
  /* 手機版 */
}
@media (max-width: 1199px) and (min-width: 991px) {
  .aboutus .yotube.container-background {
    background-position: center !important;
    height: 550px;
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .aboutus .yotube.container-background {
    background-position: center !important;
  }
}
@media (max-width: 767px) {
  .aboutus .yotube.container-background {
    background-position: center !important;
    background-image: url("../images/aboutus/vision-sm.png") !important;
    background-size: cover !important;
    height: 500px;
  }
}
.aboutus .yotube .player .st0 {
  fill: #EBD7BF;
}

/*夥伴之聲*/
.voice .banner {
  /*Banner背景照片*/
}
.voice .banner.container-background {
  /* 預設的背景圖片 */
  background-image: url("../images/bg-dark.png");
  background-size: cover;
  background-position: bottom;
  height: 100%;
}
.voice .interviewee-background {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 780px;
  /* iPad橫板&直板 */
  /* 手機版 */
}
.voice .interviewee-background.Hardy {
  background-image: url("../images/avatars/Hardy/Voice/banner-lg.jpg");
  /* iPad&手機版 */
}
@media (max-width: 768px) {
  .voice .interviewee-background.Hardy {
    background-image: url("../images/avatars/Hardy/Voice/banner-sm.jpg");
  }
}
.voice .interviewee-background.Hogan {
  background-image: url("../images/avatars/Hogan/Voice/banner-lg.jpg");
  /* iPad&手機版 */
}
@media (max-width: 768px) {
  .voice .interviewee-background.Hogan {
    background-image: url("../images/avatars/Hogan/Voice/banner-sm.jpg");
  }
}
.voice .interviewee-background.Tanya {
  background-image: url("../images/avatars/Tanya/Voice/banner-lg.jpg");
  /* iPad&手機版 */
}
@media (max-width: 768px) {
  .voice .interviewee-background.Tanya {
    background-image: url("../images/avatars/Tanya/Voice/banner-sm.jpg");
  }
}
.voice .interviewee-background.Iron {
  background-image: url("../images/avatars/Iron/Voice/banner-lg.jpg");
  /* iPad&手機版 */
}
@media (max-width: 768px) {
  .voice .interviewee-background.Iron {
    background-image: url("../images/avatars/Iron/Voice/banner-sm.jpg");
  }
}
.voice .interviewee-background.Cami {
  background-image: url("../images/avatars/Cami/Voice/banner-lg.jpg");
  /* iPad&手機版 */
}
@media (max-width: 768px) {
  .voice .interviewee-background.Cami {
    background-image: url("../images/avatars/Cami/Voice/banner-sm.jpg");
  }
}
.voice .interviewee-background.Kuan {
  background-image: url("../images/avatars/Kuan/Voice/banner-lg.jpg");
  /* iPad&手機版 */
}
@media (max-width: 768px) {
  .voice .interviewee-background.Kuan {
    background-image: url("../images/avatars/Kuan/Voice/banner-sm.jpg");
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .voice .interviewee-background {
    height: 800px;
  }
}
@media (max-width: 767px) {
  .voice .interviewee-background {
    height: 500px;
  }
}
.voice .blank_container {
  height: 300px;
  /* iPad橫板 */
}
@media (max-width: 1180px) {
  .voice .blank_container {
    height: 150px;
  }
}
.voice .slogan_container {
  height: 550px;
  /* iPad橫板 */
  /* 手機版 */
}
@media (max-width: 990px) and (min-width: 768px) {
  .voice .slogan_container {
    height: 700px;
  }
}
@media (max-width: 767px) {
  .voice .slogan_container {
    height: auto;
  }
}
.voice .custom-el-pos-1 {
  margin-top: -450px;
  left: 15%;
  /* iPad橫板 */
  /* iPad直板 */
  /* 手機版 */
}
@media (max-width: 1180px) and (min-width: 991px) {
  .voice .custom-el-pos-1 {
    margin-top: -300px;
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .voice .custom-el-pos-1 {
    margin-top: -300px;
    left: 0;
  }
}
@media (max-width: 767px) {
  .voice .custom-el-pos-1 {
    margin-top: -200px;
    left: 0;
  }
}
.voice u {
  text-underline-offset: 8px;
  font-weight: 500;
  text-decoration-color: #EBD8DF;
}
.voice .qa-img {
  width: 450px;
  /* iPad橫板 */
  /* iPad直板 */
  /* 手機版 */
}
@media (max-width: 1180px) and (min-width: 991px) {
  .voice .qa-img {
    width: 300px;
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .voice .qa-img {
    width: 350px;
  }
}
@media (max-width: 767px) {
  .voice .qa-img {
    width: 250px;
  }
}
.voice .demo-img .Hardy {
  content: url("../images/avatars/Hardy/Voice/demo-lg.png");
  /* 手機版 */
}
@media (max-width: 767px) {
  .voice .demo-img .Hardy {
    content: url("../images/avatars/Hardy/Voice/demo-sm.jpg") !important;
  }
}
.voice .demo-img .Iron {
  content: url("../images/avatars/Iron/Voice/demo-lg.png");
  /* 手機版 */
}
@media (max-width: 767px) {
  .voice .demo-img .Iron {
    content: url("../images/avatars/Iron/Voice/demo-sm.jpg") !important;
  }
}
.voice .demo-img .Tanya {
  content: url("../images/avatars/Tanya/Voice/demo-lg.png");
  /* 手機版 */
}
@media (max-width: 767px) {
  .voice .demo-img .Tanya {
    content: url("../images/avatars/Tanya/Voice/demo-sm.jpg") !important;
  }
}
.voice .demo-img .Hogan {
  content: url("../images/avatars/Hogan/Voice/demo-lg.png");
  /* 手機版 */
}
@media (max-width: 767px) {
  .voice .demo-img .Hogan {
    content: url("../images/avatars/Hogan/Voice/demo-sm.jpg") !important;
  }
}
.voice .demo-img .Cami {
  content: url("../images/avatars/Cami/Voice/demo-lg.png");
  /* 手機版 */
}
@media (max-width: 767px) {
  .voice .demo-img .Cami {
    content: url("../images/avatars/Cami/Voice/demo-sm.jpg") !important;
  }
}
.voice .demo-img .Kuan {
  content: url("../images/avatars/Kuan/Voice/demo-lg.png");
  /* 手機版 */
}
@media (max-width: 767px) {
  .voice .demo-img .Kuan {
    content: url("../images/avatars/Kuan/Voice/demo-sm.jpg") !important;
  }
}

/*預約體驗*/
.booking {
  /*改變照片*/
  /*改變圖2*/
  /*輪播照片*/
  /*分隔線*/
  /*分隔線*/
  /*預約步驟*/
}
.booking .banner {
  /*Banner背景照片*/
}
.booking .banner.container-background {
  /* 預設的背景圖片 */
  background-image: url("../images/banner/booking-lg.jpg");
  background-size: cover !important;
  background-position: center bottom !important;
  background-repeat: no-repeat !important;
  height: 100vh;
  /* iPad直板 */
  /* 手機版 */
}
@media (max-width: 990px) and (min-width: 768px) {
  .booking .banner.container-background {
    background-image: url("../images/banner/booking-md.jpg");
  }
}
@media (max-width: 767px) {
  .booking .banner.container-background {
    background-image: url("../images/banner/booking-sm.jpg") !important;
  }
}
.booking .custom-change-img1 {
  width: 320px;
  height: 320px;
  /* iPad橫板 */
}
@media (max-width: 1440px) {
  .booking .custom-change-img1 {
    width: 300px;
    height: 300px;
  }
}
.booking .custom-change-container {
  height: 400px;
  /* 手機版 */
}
@media (max-width: 767px) {
  .booking .custom-change-container {
    height: 400px;
  }
}
.booking .custom-change-img2 {
  content: url("../images/booking/change-02.png");
  width: 450px;
  height: auto;
  /* iPad橫板 */
  /* iPad橫板 */
  /* iPad直板 */
  /* 手機版 */
}
@media (max-width: 1180px) and (min-width: 991px) {
  .booking .custom-change-img2 {
    right: 10px;
    width: 350px;
    height: auto;
  }
}
@media (max-width: 1180px) and (min-width: 991px) {
  .booking .custom-change-img2 {
    width: 350px;
  }
}
@media (max-width: 999px) and (min-width: 768px) {
  .booking .custom-change-img2 {
    position: absolute;
    right: calc(100% - 672px);
    width: auto;
    height: 500px;
    top: -120px;
  }
}
@media (max-width: 767px) {
  .booking .custom-change-img2 {
    right: 0px;
    width: 400px;
    height: auto;
  }
}
.booking .custom-carousel-img {
  width: 100%;
  max-width: 500px;
  /* iPad直板 */
  /* 手機版 */
}
@media (max-width: 990px) and (min-width: 768px) {
  .booking .custom-carousel-img {
    width: 80% !important;
  }
}
@media (max-width: 767px) {
  .booking .custom-carousel-img {
    width: 120% !important;
  }
}
.booking .line-img1 {
  width: 150px;
  left: 20%;
  top: 100px;
  /* iPad橫板 */
}
@media (max-width: 1440px) {
  .booking .line-img1 {
    left: 8%;
    top: 150px;
  }
}
.booking .line-img2 {
  width: 180px;
  right: 45%;
  top: 180px;
}
.booking .line-img3 {
  width: 240px;
  left: 25%;
  top: 60px;
}
.booking .custom-step-icon {
  width: 100px;
  height: 100px;
  /* iPad橫板 */
  /* iPad直板 */
  /* 手機版 */
}
@media (max-width: 1440px) {
  .booking .custom-step-icon {
    width: 65px;
    height: 65px;
  }
}
@media (max-width: 990px) {
  .booking .custom-step-icon {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 767px) {
  .booking .custom-step-icon {
    width: 120px;
    height: 120px;
  }
}

/*訓練課程*/
.session .banner {
  /*Banner背景照片*/
}
.session .banner.container-background {
  /* 預設的背景圖片 */
  background-image: url("../images/banner/session-lg.jpg");
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  /* iPad直板 */
  /* 手機版 */
}
@media (max-width: 990px) and (min-width: 768px) {
  .session .banner.container-background {
    background-image: url("../images/banner/session-md.jpg");
  }
}
@media (max-width: 767px) {
  .session .banner.container-background {
    background-image: url("../images/banner/session-sm.jpg") !important;
  }
}
.session .professional-card {
  border: 0;
  background: #282828;
  color: #FFF;
  max-height: 200px;
  padding-left: 20px;
}
@media (max-width: 767px) {
  .session .professional-card {
    padding-left: 0px;
  }
}
.session .professional-card .card-body {
  border-radius: 0px;
  border-bottom-right-radius: 20px;
  border-left: 0px;
  border-top: 0px;
  border-right: #666666 0.8px solid;
  border-bottom: #666666 0.8px solid;
  padding: 0 0 20px 0;
}
.session .demo-image {
  /*功能性訓練*/
  /*心肺功能重塑*/
  /*運動能力強化*/
  /*關節矯正訓練*/
  /*TRX*/
  /*核心訓練*/
  /*自由重量訓練*/
  /*孕期與產後運動*/
}
.session .demo-image .function {
  /*手機版*/
}
.session .demo-image .function .demo01-img {
  height: auto;
  content: url("../images/session/function/lg-01.jpg");
}
.session .demo-image .function .demo02-img {
  height: auto;
  content: url("../images/session/function/lg-02.jpg");
}
.session .demo-image .function .demo03-img {
  height: auto;
  content: url("../images/session/function/lg-03.jpg");
}
@media (max-width: 767px) {
  .session .demo-image .function .demo01-img {
    content: url("../images/session/function/sm-01.jpg");
  }
  .session .demo-image .function .demo02-img {
    content: url("../images/session/function/sm-02.jpg");
  }
  .session .demo-image .function .demo03-img {
    content: url("../images/session/function/sm-03.jpg");
  }
}
.session .demo-image .cardio {
  /*手機版*/
}
.session .demo-image .cardio .demo01-img {
  content: url("../images/session/cardio/lg-01.jpg");
}
.session .demo-image .cardio .demo02-img {
  content: url("../images/session/cardio/lg-02.jpg");
}
@media (max-width: 767px) {
  .session .demo-image .cardio .demo01-img {
    content: url("../images/session/cardio/sm-01.jpg");
  }
  .session .demo-image .cardio .demo02-img {
    content: url("../images/session/cardio/sm-02.jpg");
  }
}
.session .demo-image .athletic {
  /*手機版*/
}
.session .demo-image .athletic .demo01-img {
  content: url("../images/session/athletic/lg-01.jpg");
}
.session .demo-image .athletic .demo02-img {
  content: url("../images/session/athletic/lg-02.jpg");
}
@media (max-width: 767px) {
  .session .demo-image .athletic .demo01-img {
    content: url("../images/session/athletic/sm-01.jpg");
  }
  .session .demo-image .athletic .demo02-img {
    content: url("../images/session/athletic/sm-02.jpg");
  }
}
.session .demo-image .joint {
  /*手機版*/
}
.session .demo-image .joint .demo01-img {
  content: url("../images/session/joint/lg-01.jpg");
}
.session .demo-image .joint .demo02-img {
  content: url("../images/session/joint/lg-02.jpg");
}
@media (max-width: 767px) {
  .session .demo-image .joint .demo01-img {
    content: url("../images/session/joint/sm-01.jpg");
  }
  .session .demo-image .joint .demo02-img {
    content: url("../images/session/joint/sm-02.jpg");
  }
}
.session .demo-image .trx {
  /*手機版*/
}
.session .demo-image .trx .demo01-img {
  content: url("../images/session/trx/lg-01.jpg");
}
.session .demo-image .trx .demo02-img {
  content: url("../images/session/trx/lg-02.jpg");
}
.session .demo-image .trx .demo03-img {
  content: url("../images/session/trx/lg-03.jpg");
}
@media (max-width: 767px) {
  .session .demo-image .trx .demo01-img {
    content: url("../images/session/trx/sm-01.jpg");
  }
  .session .demo-image .trx .demo02-img {
    content: url("../images/session/trx/sm-02.jpg");
  }
  .session .demo-image .trx .demo03-img {
    content: url("../images/session/trx/sm-03.jpg");
  }
}
.session .demo-image .core {
  /*手機版*/
}
.session .demo-image .core .demo01-img {
  content: url("../images/session/core/lg-01.jpg");
}
.session .demo-image .core .demo02-img {
  content: url("../images/session/core/lg-02.jpg");
}
.session .demo-image .core .demo03-img {
  content: url("../images/session/core/lg-03.jpg");
}
@media (max-width: 767px) {
  .session .demo-image .core .demo01-img {
    content: url("../images/session/core/sm-01.jpg");
  }
  .session .demo-image .core .demo02-img {
    content: url("../images/session/core/sm-02.jpg");
  }
  .session .demo-image .core .demo03-img {
    content: url("../images/session/core/sm-03.jpg");
  }
}
.session .demo-image .freeweight {
  /*手機版*/
}
.session .demo-image .freeweight .demo01-img {
  content: url("../images/session/freeweight/lg-01.jpg");
}
.session .demo-image .freeweight .demo02-img {
  height: auto;
  content: url("../images/session/freeweight/lg-02.jpg");
}
.session .demo-image .freeweight .demo03-img {
  height: auto;
  content: url("../images/session/freeweight/lg-03.jpg");
}
@media (max-width: 767px) {
  .session .demo-image .freeweight .demo01-img {
    content: url("../images/session/freeweight/sm-01.jpg");
  }
  .session .demo-image .freeweight .demo02-img {
    content: url("../images/session/freeweight/sm-02.jpg");
  }
  .session .demo-image .freeweight .demo03-img {
    content: url("../images/session/freeweight/sm-03.jpg");
  }
}
.session .demo-image .pregnancy {
  /*手機版*/
}
.session .demo-image .pregnancy .demo01-img {
  content: url("../images/session/pregnancy/lg-01.jpg");
}
.session .demo-image .pregnancy .demo02-img {
  content: url("../images/session/pregnancy/lg-02.jpg");
}
.session .demo-image .pregnancy .demo03-img {
  content: url("../images/session/pregnancy/lg-03.jpg");
}
.session .demo-image .pregnancy .demo04-img {
  content: url("../images/session/pregnancy/lg-04.jpg");
}
@media (max-width: 767px) {
  .session .demo-image .pregnancy .demo01-img {
    content: url("../images/session/pregnancy/sm-01.jpg");
  }
  .session .demo-image .pregnancy .demo02-img {
    content: url("../images/session/pregnancy/sm-02.jpg");
  }
  .session .demo-image .pregnancy .demo03-img {
    content: url("../images/session/pregnancy/sm-03.jpg");
  }
  .session .demo-image .pregnancy .demo04-img {
    content: url("../images/session/pregnancy/sm-04.jpg");
  }
}
.session .demo-image .demo-item {
  height: auto;
  max-height: 900px;
}

/*常見問題*/
.faq {
  /*差異表格*/
  /*PI照片*/
  /*合適的私人教練文章*/
  /*Slogan*/
}
.faq .banner {
  /*Banner背景照片*/
}
.faq .banner.container-background {
  /* 預設的背景圖片 */
  background-image: url("../images/banner/faq-lg.jpg");
  background-size: cover;
  background-position: top;
  height: 1600px;
  /* iPad直板 */
  /* 手機版 */
}
@media (max-width: 990px) and (min-width: 768px) {
  .faq .banner.container-background {
    background-position: top;
    height: 100vh;
  }
}
@media (max-width: 767px) {
  .faq .banner.container-background {
    background-image: url("../images/banner/faq-sm.jpg") !important;
    background-position: bottom;
    height: 100vh;
  }
}
.faq .custom-el-pos-1 {
  margin-top: -550px;
  /* iPad橫板 */
  /* 手機版 */
}
@media (max-width: 1180px) and (min-width: 991px) {
  .faq .custom-el-pos-1 {
    margin-top: -700px;
  }
}
@media (max-width: 767px) {
  .faq .custom-el-pos-1 {
    margin-top: -300px;
  }
}
.faq .qa-card {
  background-color: #333;
  height: 100px;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  height: 100px;
}
.faq .qa-card .card-body {
  padding: 30px 20px 20px 30px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  /* iPad直板 */
}
@media (max-width: 990px) and (min-width: 768px) {
  .faq .qa-card .card-body {
    padding: 20px 20px 20px 20px;
  }
}
.faq .qa-card .card-body p {
  color: #FFF !important;
  margin-bottom: 0px !important;
  line-height: 1.2 !important;
}
.faq .qa-card:hover {
  background-color: #FFF;
}
.faq .qa-card:hover .card-body p {
  color: #282828 !important;
}
.faq .qa-card.active {
  background-color: #FFF;
}
.faq .qa-card.active .card-body p {
  color: #282828 !important;
}
.faq .diff-table {
  border-radius: 30px;
  overflow: hidden;
}
.faq .diff-table > :not(caption) > * > * {
  padding: 0.3rem 0.3rem;
}
.faq .diff-table th,
.faq .diff-table td {
  vertical-align: middle;
  border-bottom-width: 0px !important;
}
.faq .diff-table th.bg-pink-01,
.faq .diff-table td.bg-pink-01 {
  background-color: hsl(20.55, 85.88%, 83.33%);
}
.faq .diff-table th.bg-pink-02,
.faq .diff-table td.bg-pink-02 {
  background-color: hsl(23.08, 86.67%, 94.12%);
}
.faq .diff-table th.bg-pink-03,
.faq .diff-table td.bg-pink-03 {
  background-color: hsl(22.5, 100%, 98.43%);
}
.faq .diff-table th.bg-gold-01,
.faq .diff-table td.bg-gold-01 {
  background-color: hsl(38.71, 49.21%, 87.65%);
}
.faq .diff-table th.bg-gold-02,
.faq .diff-table td.bg-gold-02 {
  background-color: hsl(39, 47.62%, 91.76%);
}
.faq .diff-table th.bg-gold-03,
.faq .diff-table td.bg-gold-03 {
  background-color: hsl(38.18, 52.38%, 95.88%);
}
.faq .pi-img {
  max-width: 500px;
}
.faq .fee-card {
  border: 0.8px solid;
  border-color: #282828;
  border-radius: 50px;
  width: 70%;
  /* iPad橫板 */
}
@media (max-width: 1180px) {
  .faq .fee-card {
    width: 100%;
  }
}
.faq .fee-card .card-body {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
.faq .fee-card span {
  background-color: #282828;
  border-radius: 50%;
  color: #EBD7BF;
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 1.2em !important;
  padding-right: 0.1rem !important;
  padding-left: 0.1rem !important;
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
  margin-top: 0.25rem !important;
  width: 25px;
  height: 25px;
}
.faq .fee-card p {
  padding-left: 0.5rem !important;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center !important;
  display: inline;
  font-weight: 500;
}
.faq .artical-card {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  border-width: 0;
  background-color: #f8f4eb;
  /* iPad橫板&直板 */
}
.faq .artical-card .card-body {
  padding-top: 3.5rem !important;
  padding-bottom: 5rem !important;
}
@media (max-width: 1199px) {
  .faq .artical-card {
    width: 300px;
    height: 300px;
  }
  .faq .artical-card .card-body {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}
.faq .slogan {
  /*slogan背景照片*/
}
.faq .slogan.container-background {
  /* 預設的背景圖片 */
  background-image: url("../images/slogan/faq-lg.jpg");
  background-position: top left !important;
  height: 600px;
  /* iPad橫板&直板 */
  /* 手機版 */
}
@media (max-width: 1199px) and (min-width: 768px) {
  .faq .slogan.container-background {
    height: 500px;
  }
}
@media (max-width: 767px) {
  .faq .slogan.container-background {
    background-image: url("../images/slogan/faq-sm.jpg") !important;
    background-position: bottom center !important;
    height: 450px;
  }
}

/*專業行銷文章*/
.blog-post .banner {
  /*Banner背景照片*/
}
.blog-post .banner.container-background {
  /* 預設的背景圖片 */
  background-image: url("../images/bg-dark.png");
  background-size: cover;
  background-position: bottom;
  height: 100%;
}
.blog-post .banner .title-img {
  border-radius: 35px;
  /* 手機版 */
}
@media (max-width: 767px) {
  .blog-post .banner .title-img {
    border-radius: 0px;
  }
}
.blog-post .card {
  /* 設定卡片寬度 */
  padding: 0;
  /* 設定上方預留15px，其他方向為0 */
  border-radius: 35px;
  /* 設定圓角 */
  background-color: #FFF;
  /* 設定上方底色 */
  position: relative;
  /* 设置相对定位 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-width: 0;
  /* 選擇性添加陰影效果 */
  overflow: hidden;
  /* 隐藏超出卡片部分的内容 */
  color: #282828;
  /*照片置頂高度*/
  /* 手機版 */
}
.blog-post .card .thumb-info .thumb-info-title {
  transition: all 0.3s;
  background: transparent;
  color: #f8f4eb;
  font-weight: 600;
  letter-spacing: -0.05em;
  position: absolute;
  z-index: 2;
  max-width: 90%;
  font-size: 17px;
  padding: 13px 21px 2px;
  bottom: calc(50% - 20px);
  left: calc(50% - 20px);
}
.blog-post .card .card-img-top {
  object-fit: cover;
  object-position: top center;
  width: 100%;
  height: auto;
  /* 手機版 */
}
@media (max-width: 767px) {
  .blog-post .card .card-img-top {
    height: 500px;
    border-radius: 0px;
  }
}
.blog-post .card .card-body {
  padding: 5rem;
  /* 手機版 */
}
.blog-post .card .card-body .subject-title {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 16px;
}
.blog-post .card .card-body .artical-info {
  white-space: nowrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.blog-post .card .card-body .artical-info .author {
  color: #282828;
  padding-right: 0.5rem;
  font-size: 1.1em;
  font-weight: 400;
}
.blog-post .card .card-body .artical-info .date {
  font-size: 1.1em;
  font-weight: 300;
  float: right;
}
.blog-post .card .card-body p {
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: #282828;
}
.blog-post .card .card-body ul {
  font-size: 1.32em;
  padding-left: 1rem;
}
.blog-post .card .card-body ul.warning ::marker {
  content: "▲ ";
}
.blog-post .card .card-body ul li {
  line-height: 34px;
}
.blog-post .card .card-body ul.reference {
  font-size: 1.1em;
}
.blog-post .card .card-body ul.reference li {
  line-height: 24px;
}
.blog-post .card .card-body ul.reference a {
  color: #282828;
}
.blog-post .card .card-body .row {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.blog-post .card .card-body .col {
  padding-top: 3rem;
}
.blog-post .card .card-body .author-info .jobtitle {
  font-size: 1.2em;
  font-weight: 400;
}
.blog-post .card .card-body .author-info .author-name {
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 1.5rem;
  margin-top: 0px;
}
.blog-post .card .card-body .author-info .introduce {
  font-size: 1.3em;
  font-weight: 400;
  display: block;
}
.blog-post .card .card-body u {
  text-underline-offset: 8px;
  font-weight: 500;
  text-decoration-color: #EBD8DF;
}
.blog-post .card .card-body b {
  font-weight: 500;
}
@media (max-width: 767px) {
  .blog-post .card .card-body {
    padding: 2.5rem;
  }
}
@media (max-width: 767px) {
  .blog-post .card {
    border-radius: 0px;
  }
}
.blog-post .player .st0 {
  fill: #EBD7BF;
}

/*隱私權政策*/
.policy .banner {
  /*Banner背景照片*/
}
.policy .banner.container-background {
  /* 預設的背景圖片 */
  background-image: url("../images/banner/policy-lg.jpg");
  background-size: cover;
  background-position: top;
  height: 100vh;
  /* iPad直版&手機版 */
}
@media (max-width: 990px) {
  .policy .banner.container-background {
    height: 50vh;
  }
}
.policy .price-table {
  content: url("../images/price/202306-lg.png");
  /* 手機版 */
}
@media (max-width: 767px) {
  .policy .price-table {
    content: url("../images/price/202306-sm.png");
  }
}

/*標準Section內使用*/
section.section-policy h4 {
  color: #282828;
  font-size: 1.1em;
}
section.section-policy p {
  font-size: 1em;
}

/*form-label*/
.beyond-form .form-control {
  border-color: #EBD7BF;
}
.beyond-form .form-control:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-color: #E76751;
  background-color: #FAFFBD;
}
.beyond-form .form-qestion,
.beyond-form .form-label {
  font-size: 1.1em !important;
  color: #000;
  font-weight: 400;
  line-height: 1em;
}
.beyond-form .form-desc {
  font-size: 1.2em !important;
  font-weight: 500;
}

/* Custom Fancy Checkbox */
.fancy-checkbox {
  margin-right: 10px;
}
.fancy-checkbox input[type=checkbox] {
  display: none;
}
.fancy-checkbox input[type=checkbox] + label {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  cursor: pointer;
  position: relative;
  font-size: 1.3em !important;
  color: #282828;
}
.fancy-checkbox input[type=checkbox] + label:before {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  bottom: 1px;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  content: "";
  border: 1px solid #E76751;
  border-radius: 3px;
}
.fancy-checkbox input[type=checkbox]:checked + label:before {
  font-family: "Font Awesome 6 Free";
  content: "\f00c" !important;
  font-weight: 900;
  font-size: 20px;
  color: #FFF;
  text-align: center;
  line-height: 21px;
  background: #EBD7BF;
  border-radius: 3px;
}
.fancy-checkbox.custom-color-dark input[type=checkbox]:checked + label:before {
  color: #282828;
  background-color: #FFF;
  font-weight: 800;
}
.fancy-checkbox.custom-bgcolor-dark input[type=checkbox]:checked + label:before {
  color: #FFF;
  background-color: #282828;
  border-color: #282828;
}
.fancy-checkbox.custom-bgcolor-gold input[type=checkbox]:checked + label:before {
  color: #EBD7BF;
  background-color: #282828;
  border-color: #EBD7BF;
}

html .showFloatMenu {
  bottom: 10px;
  display: block;
  height: 9px;
  opacity: 0;
  padding: 10px 10px 35px;
  position: fixed;
  right: 10px;
  min-width: 45px;
  z-index: 1040;
  font-size: 0.8em;
}
html .showFloatMenu:hover {
  opacity: 1;
}
html .showFloatMenu.invisible {
  opacity: 0;
}
html .showFloatMenu.visible {
  opacity: 0.75;
}
html .showFloatMenu span {
  display: inline-block;
  padding: 0 5px;
}
html.showFloatMenu .scroll-to-top {
  right: 27px;
}

@media (max-width: 991px) {
  html .scroll-to-top.hidden-mobile {
    display: none !important;
  }
}
/**Screen hidden Control**/
@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}
@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}
@media (min-width: 1201px) {
  .hidden-xl-down {
    display: none !important;
  }
}/*# sourceMappingURL=custom.css.map */