

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json
@{
    Layout = "~/Views/ConsoleHome/Template/MainPage.cshtml"; ModelStateDictionary _modelState;


    ModelSource<UserProfile> models;
    CourseContract _model;
    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _model = (CourseContract)this.Model;
}

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="body">
                @{ Html.RenderPartial("~/Views/ContractConsole/Module/CourseContractView.cshtml", _model);}
            </div>
        </div>
    </div>
</section>