
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@using WebHome.Models.Resources

@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;

    _modelState = (ModelStateDictionary) ViewBag.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";
    await Html.RenderPartialAsync("~/Views/MainActivity/Template/GlobalResource.cshtml");
    dynamic globalResource = ViewContext.HttpContext.Items["GlobalResource"] as dynamic;
    dynamic commonAll = globalResource["Common"][lang] as dynamic;
}

<section class="section section-text-light section-center p-0 mt-0 mb-0 border-0 py-5 slogan container-background">
   <div class="container container-xl-custom container-xl-custom py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
         <div class="col-12 px-0">
            <img class="mt-3" width="40" src="../images/icons/double_quotes.svg"
               alt="BeyondFitness|私人教練是什麼" data-icon
               data-plugin-options="{'onlySVG': false, 'color': '#EBD7BF', 'animated': false, 'strokeBased': true, 'svgStyle': 'fill:#EBD7BF'}" />
            <h2 class="pt-3 mb-4 custom-font-secondary fst-italic font-weight-bold">@Html.Raw(commonAll.Slogan)</h2>
            <h3 class="mb-5 font-weight-bold" data-plugin-animated-letters data-plugin-options="{'startDelay': 300, 'minWindowWidth': 0, 'animationSpeed': 50}">@Html.Raw(commonAll.SloganDesc)</h3>
            <a href="https://www.104.com.tw/company/1a2x6bk27x?jobsource=checkc&fbclid=IwAR0fUKUHzTgOxnUlQxbopGBDF8I_AOTz8rRhsWz_v4V9XlQYhjw2QCbzGyk"
               target="_blank" class="btn btn-3d bg-color-light btn-rounded fst-italic positive-ls-3">@Html.Raw(commonAll.ViewJobs)</a>
         </div>
      </div>
   </div>
</section>