@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    ViewBag.MainClass = "home";
    ViewBag.MenuDark = false;
    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";

    PromotionAppraisalDataModel appraisal = (PromotionAppraisalDataModel)ViewBag.Appraisal;
    GameLevel promotion = (GameLevel)appraisal.PromotionLevel;
    Player currentPlayer = ViewBag.Player as Player;
    var profile = currentPlayer?.UserProfile;

}

<!--升級指南-->

<div class="content mb-3 mx-1">

    <h4 class="mb-2 text-uppercase letter-spacing-2 d-inline font-20 color-theme mx-4 mx-lg-5 mx-md-5">
        升級指南·<small class="ps-2 font-14 font-400 text-capitalize opacity-60">Upgrade Level</small>
    </h4>

    <div class="clearfix"></div>

    <div class="card card-style bg-beyond-dark mb-0 mt-5 mx-3 mx-lg-5 mx-md-5">

        <div class="card-body mx-3 my-2">

            <h4 class="mb-5 text-uppercase letter-spacing-2 d-inline font-16 color-white">
                Level @(promotion.LevelCode)<small id="gameResult" class="ps-2 font-14 font-400 text-capitalize"></small>
            </h4>
            <div class="complete-container mt-3">
                @{
                    var missions = models.GetTable<CampaignMission>().ToArray();
                    int[] idx = new int[] { 2, 3, 4, 0, 1 };

                    foreach (var id in idx)
                    {
                        var mission = missions[id];
                        CampaignMissionDataModel dataModel = new CampaignMissionDataModel 
                        {
                            MissionID = mission,
                        };
                        ViewBag.CurrentMission = dataModel;
                        appraisal.Missions.Add(dataModel);
                        await Html.RenderPartialAsync($"~/Views/LearnerActivity/Page.zh-TW/Module/CampaignProcess/PlayMission{mission.MissionID:00}.cshtml", promotion.GameLevelRequirement.Where(r => r.MissionID == mission.MissionID).FirstOrDefault());
                    }
                }

            </div>
            <script>
                $(function () {
                    $('#gameResult').text('(已完成：@(appraisal.Missions.Where(c => c.CheckResult == true).Count())/@(appraisal.Missions.Count))');
                });
            </script>
        </div>

    </div>

</div>
