@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Http
@using System.Web

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources
@using WebHome.Properties
@using WebHome.Helper.BusinessOperation

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";

    CourseContract item = this.Model as CourseContract;

    int idx = 0;
    var members = item.CourseContractMember.Select(m => m.UserProfile);

}
@foreach (var member in members)
{
    idx++;
    <div class="col-4 mb-2">
        <p class="color-beyond-dark font-700 font-16 mb-2 letter-spacing-1">成員@(idx)</p>
    </div>
    <div class="col-8 mb-2">
        <p class="color-beyond-dark letter-spacing-1">@(member.RealName)（@(member.UserProfileExtension.Gender == "F" ? "女" : "男")）</p>
    </div>
}