@using System.IO
@using System.Linq.Expressions
@using System.Text
@using System.Net
@using System.Net.Mail
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.Extensions.Logging

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources
@using WebHome.Properties;

@{

    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
    ? "tw"
    : lang == "en-US"
    ? "en"
    : "ja";

    //await Html.RenderPartialAsync("~/Views/LearnerActivity/Template/GlobalResource.cshtml");
    //dynamic globalResource = ViewContext.HttpContext.Items["GlobalResource"] as dynamic;

    var profile = await Context.GetUserAsync();
    LessonTime lessonItem = this.Model as LessonTime;

}

<div class="divider mt-4 mb-4"></div>
<div class="row">
    <div class="col-12 d-flex">
        <div>
            <h5 class="font-500 font-16 mb-1">Q1.</h5>
        </div>
        <div class="align-self-center ps-3">
            <h5 class="font-500 font-16 mb-1 line-height-m mb-3">課程內容能滿足您的學習需求與期待。</h5>
        </div>
    </div>
    <div class="col-12">
        <div class="rating ps-5 pt-2">
            <input type="radio" id="suveryQ1A5" name="Q1" value="5" class="radio-1" />
            <label for="suveryQ1A5" class="star star-2" title="Perfect"></label>
            <input type="radio" id="suveryQ1A4" name="Q1" value="4" class="radio-2" />
            <label for="suveryQ1A4" class="star star-2" title="Great"></label>
            <input type="radio" id="suveryQ1A3" name="Q1" value="3" class="radio-3" />
            <label for="suveryQ1A3" class="star star-3" title="Average"></label>
            <input type="radio" id="suveryQ1A2" name="Q1" value="2" class="radio-4" />
            <label for="suveryQ1A2" class="star star-4" title="Poor"></label>
            <input type="radio" id="suveryQ1A1" name="Q1" value="1" class="radio-5" />
            <label for="suveryQ1A1" class="star star-5" title="Bad"></label>
        </div>
    </div>
</div>

<div class="divider mt-4 mb-4"></div>
<div class="row">
    <div class="col-12 d-flex">
        <div>
            <h5 class="font-500 font-16 mb-1">Q2.</h5>
        </div>
        <div class="align-self-center ps-3">
            <h5 class="font-500 font-16 mb-1 line-height-m mb-3">教練有清楚示範相關動作細節。</h5>
        </div>
    </div>

    <div class="col-12">
        <div class="rating ps-5 pt-2">
            <input type="radio" id="suveryQ2A5" name="Q2" value="5" class="radio-1" />
            <label for="suveryQ2A5" class="star star-2" title="Perfect"></label>
            <input type="radio" id="suveryQ2A4" name="Q2" value="4" class="radio-2" />
            <label for="suveryQ2A4" class="star star-2" title="Great"></label>
            <input type="radio" id="suveryQ2A3" name="Q2" value="3" class="radio-3" />
            <label for="suveryQ2A3" class="star star-3" title="Average"></label>
            <input type="radio" id="suveryQ2A2" name="Q2" value="2" class="radio-4" />
            <label for="suveryQ2A2" class="star star-4" title="Poor"></label>
            <input type="radio" id="suveryQ2A1" name="Q2" value="1" class="radio-5" />
            <label for="suveryQ2A1" class="star star-5" title="Bad"></label>
        </div>
    </div>
</div>


<div class="divider mt-4 mb-4"></div>
<div class="row">
    <div class="col-12 d-flex">
        <div>
            <h5 class="font-500 font-16 mb-1">Q3.</h5>
        </div>
        <div class="align-self-center ps-3">
            <h5 class="font-500 font-16 mb-1 line-height-m mb-3">教室硬體設備能提供良好的訓練環境。</h5>
        </div>
    </div>

    <div class="col-12">
        <div class="rating ps-5 pt-2">
            <input type="radio" id="suveryQ3A5" name="Q3" value="5" class="radio-1" />
            <label for="suveryQ3A5" class="star star-2" title="Great"></label>
            <input type="radio" id="suveryQ3A4" name="Q3" value="4" class="radio-2" />
            <label for="suveryQ3A4" class="star star-2" title="Great"></label>
            <input type="radio" id="suveryQ3A3" name="Q3" value="3" class="radio-3" />
            <label for="suveryQ3A3" class="star star-3" title="Average"></label>
            <input type="radio" id="suveryQ3A2" name="Q3" value="2" class="radio-4" />
            <label for="suveryQ3A2" class="star star-4" title="Poor"></label>
            <input type="radio" id="suveryQ3A1" name="Q3" value="1" class="radio-5" />
            <label for="suveryQ3A1" class="star star-5" title="Bad"></label>
        </div>
    </div>
</div>


<div class="divider mt-4 mb-4"></div>
<div class="row">
    <div class="col-12 d-flex">
        <div>
            <h5 class="font-500 font-16 mb-1">Q4.</h5>
        </div>
        <div class="align-self-center ps-3">
            <h5 class="font-500 font-16 mb-1 line-height-m mb-3">課程訓練強度與安排能符合您的需求與能力。</h5>
        </div>
    </div>
    <div class="col-12">
        <div class="rating ps-5 pt-2">
            <input type="radio" id="suveryQ4A5" name="Q4" value="5" class="radio-1" />
            <label for="suveryQ4A5" class="star star-2" title="Great"></label>
            <input type="radio" id="suveryQ4A4" name="Q4" value="4" class="radio-2" />
            <label for="suveryQ4A4" class="star star-2" title="Great"></label>
            <input type="radio" id="suveryQ4A3" name="Q4" value="3" class="radio-3" />
            <label for="suveryQ4A3" class="star star-3" title="Average"></label>
            <input type="radio" id="suveryQ4A2" name="Q4" value="2" class="radio-4" />
            <label for="suveryQ4A2" class="star star-4" title="Poor"></label>
            <input type="radio" id="suveryQ4A1" name="Q4" value="1" class="radio-5" />
            <label for="suveryQ4A1" class="star star-5" title="Bad"></label>
        </div>
    </div>
</div>


<div class="divider mt-4 mb-4"></div>
<div class="row">
    <div class="col-12 d-flex">
        <div>
            <h5 class="font-500 font-16 mb-1">Q5.</h5>
        </div>
        <div class="align-self-center ps-3">
            <h5 class="font-500 font-16 mb-1 line-height-m mb-3">課程整體氛圍能讓您感到愉快且投入。</h5>
        </div>
    </div>
    <div class="col-12">
        <div class="rating ps-5 pt-2">
            <input type="radio" id="suveryQ5A5" name="Q5" value="5" class="radio-1" />
            <label for="suveryQ5A5" class="star star-2" title="Great"></label>
            <input type="radio" id="suveryQ5A4" name="Q5" value="4" class="radio-2" />
            <label for="suveryQ5A4" class="star star-2" title="Great"></label>
            <input type="radio" id="suveryQ5A3" name="Q5" value="3" class="radio-3" />
            <label for="suveryQ5A3" class="star star-3" title="Average"></label>
            <input type="radio" id="suveryQ5A2" name="Q5" value="2" class="radio-4" />
            <label for="suveryQ5A2" class="star star-4" title="Poor"></label>
            <input type="radio" id="suveryQ5A1" name="Q5" value="1" class="radio-5" />
            <label for="suveryQ5A1" class="star star-5" title="Bad"></label>
        </div>
    </div>
</div>