@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    ViewBag.MainClass = "home";
    ViewBag.MenuDark = false;
    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";

}
<div class="menu-title">
    <a href="#" class="close-menu color-beyond-dark"><i class="fa fa-times"></i>&nbsp;</a>
</div>
<div class="content mx-4 mx-lg-5 mx-md-5 mt-5 color-beyond-dark">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-3 letter-spacing-2 color-beyondred-dark">新手上路 · Newcomer</h1>
            <ul class="ps-3">
                <li>【條件一】、【條件二】擇一完成</li>
                <li>【條件一】
                    <ul>
                        <li>條件名稱：Beyond生效中合約之正式會員。</li>
                        <li>條件說明：擁有本公司生效中合約之正式會員，始符合此條件。</li>
                        <li>注意事項：
                            <ol>
                                <li>擁有本公司正式會員帳戶並於會員系統註冊登入成功，且為生效中帳戶，即符合該項條件。</li>
                                <li>該項條件符合與否，更新顯示時間依本公司系統批次，以每日顯示之前日資料為準，如有例外狀況，將依照系統更新調整。</li>
                            </ol>
                        </li>
                    </ul>
                </li>
                <li>【條件二】
                    <ul>
                        <li>條件名稱：Beyond於前一季有單次購買課程(P.T/S.R/P.I)之正式會員。</li>
                        <li>條件說明：擁有本公司單次購買課程之正式會員，始符合此條件。</li>
                        <li>注意事項：
                            <ol>
                                <li>擁有本公司正式會員帳戶並於會員系統註冊登入成功，且單次購買課程，即符合該項條件。</li>
                                <li>該項條件符合與否，更新顯示時間依本公司系統批次，以每日顯示之前日資料為準，如有例外狀況，將依照系統更新調整。</li>
                            </ol>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="divider bg-beyondwhite-dark mt-4 mb-4"></div>
        <div class="col-12">
            <h1 class="mb-3 letter-spacing-2 color-beyondred-dark">冒險家· Adventurer</h1>
            <ul class="ps-3">
                <li>【條件一】滿足會員等級至為新手上路 · Newcomer</li>
                <li>【條件二】
                    <ul>
                        <li>條件名稱：當季累積P.T 上課數達6堂以上。</li>
                        <li>條件狀態：
                            <ol>
                                <li>複合式顧問合約P.T 課程。</li>
                                <li>單堂購買P.T課程。</li>
                                <li>點數/贈送P.T課程。</li>
                                <li>企業合作 P.T 課程。</li>
                            </ol>
                        </li>
                        <li>條件說明：於當期會員等級計算期間，累計當季P.T上課數達6堂（含）以上，始符合此條件（上課數計算項目及方式請見注意事項）。</li>
                        <li>注意事項：
                            <ol>
                                <li>完成每堂課前健康自評，視為確認上課之證明。</li>
                                <li>該項條件符合與否及累積進度，更新顯示時間依本公司系統批次，以每日顯示之前日資料為準，如有例外狀況，將依照系統更新調整。</li>
                            </ol>
                        </li>
                    </ul>
                </li>
                <li>【條件三】
                    <ul>
                        <li>條件名稱：完成活動期間內之固定任務。</li>
                        <li>條件狀態：
                            <ol>
                                <li>當季每次預約上課（含PT、PI）之6次健康自評。</li>
                                <li>當季每次預約上課（含PT、PI、SR）3次之課後訓練/恢復感受回饋。</li>
                            </ol>
                        </li>
                        <li>條件說明：於當期會員等級計算期間，完成活動期間內之固定任務，始符合此條件（固定任務項目及方式請見注意事項）。</li>
                        <li>注意事項：
                            <ol>
                                <li>必須透過本公司提供之學生會員系統完成課前健康自評，視為固定任務完成之證明。</li>
                                <li>必須透過本公司提供之學生會員系統完成課後訓練/恢復感受回饋，視為固定任務完成之證明。</li>
                                <li>該項條件符合與否及累積進度，更新顯示時間依本公司系統批次，以每日顯示之前日資料為準，如有例外狀況，將依照系統更新調整。</li>
                            </ol>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="divider bg-beyondwhite-dark mt-4 mb-4"></div>
        <div class="col-12">
            <h1 class="mb-3 letter-spacing-2 color-beyondred-dark">探險家 · Explorer</h1>
            <ul class="ps-3">
                <li>【條件一】滿足會員等級至為新手上路 · Newcomer</li>
                <li>【條件二】
                    <ul>
                        <li>條件名稱：當季累積P.T 上課數達12堂以上。</li>
                        <li>條件狀態：
                            <ol>
                                <li>複合式顧問合約P.T 課程。</li>
                                <li>單堂購買P.T課程。</li>
                                <li>點數/贈送P.T課程。</li>
                                <li>企業合作 P.T 課程。</li>
                            </ol>
                        </li>
                        <li>條件說明：於當期會員等級計算期間，累計當季P.T上課數達12堂（含）以上，始符合此條件（上課數計算項目及方式請見注意事項）。</li>
                        <li>注意事項：
                            <ol>
                                <li>完成每堂課前健康自評，視為確認上課之證明。</li>
                                <li>該項條件符合與否及累積進度，更新顯示時間依本公司系統批次，以每日顯示之前日資料為準，如有例外狀況，將依照系統更新調整。</li>
                            </ol>
                        </li>
                    </ul>
                </li>
                <li>【條件三】
                    <ul>
                        <li>條件名稱：完成活動期間內之固定任務。</li>
                        <li>條件狀態：
                            <ol>
                                <li>當季每次預約上課（含PT、PI）之12次健康自評。</li>
                                <li>當季每次預約上課（含PT、PI、SR）6次之課後訓練/恢復感受回饋。</li>
                            </ol>
                        </li>
                        <li>條件說明：於當期會員等級計算期間，完成活動期間內之固定任務，始符合此條件（固定任務項目及方式請見注意事項）。</li>
                        <li>注意事項：
                            <ol>
                                <li>必須透過本公司提供之學生會員系統完成課前健康自評，視為固定任務完成之證明。</li>
                                <li>必須透過本公司提供之學生會員系統完成課後訓練/恢復感受回饋，視為固定任務完成之證明。</li>
                                <li>該項條件符合與否及累積進度，更新顯示時間依本公司系統批次，以每日顯示之前日資料為準，如有例外狀況，將依照系統更新調整。</li>
                            </ol>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="divider bg-beyondwhite-dark mt-4 mb-4"></div>
        <div class="col-12">
            <h1 class="mb-3 letter-spacing-2 color-beyondred-dark">挑戰家 · Challenger</h1>
            <ul class="ps-3">
                <li>【條件一】滿足會員等級至為新手上路 · Newcomer</li>
                <li>【條件二】
                    <ul>
                        <li>條件名稱：當季累積P.T 上課數達18堂以上。</li>
                        <li>條件狀態：
                            <ol>
                                <li>複合式顧問合約P.T 課程。</li>
                                <li>單堂購買P.T課程。</li>
                                <li>點數/贈送P.T課程。</li>
                                <li>企業合作 P.T 課程。</li>
                            </ol>
                        </li>
                        <li>條件說明：於當期會員等級計算期間，累計當季P.T上課數達18堂（含）以上，始符合此條件（上課數計算項目及方式請見注意事項）。</li>
                        <li>注意事項：
                            <ol>
                                <li>完成每堂課前健康自評，視為確認上課之證明。</li>
                                <li>該項條件符合與否及累積進度，更新顯示時間依本公司系統批次，以每日顯示之前日資料為準，如有例外狀況，將依照系統更新調整。</li>
                            </ol>
                        </li>
                    </ul>
                </li>
                <li>【條件三】
                    <ul>
                        <li>條件名稱：完成活動期間內之固定任務。</li>
                        <li>條件狀態：
                            <ol>
                                <li>當季每次預約上課（含PT、PI）之18次健康自評。</li>
                                <li>當季每次預約上課（含PT、PI、SR）9次之課後訓練/恢復感受回饋。</li>
                            </ol>
                        </li>
                        <li>條件說明：於當期會員等級計算期間，完成活動期間內之固定任務，始符合此條件（固定任務項目及方式請見注意事項）。</li>
                        <li>注意事項：
                            <ol>
                                <li>必須透過本公司提供之學生會員系統完成課前健康自評，視為固定任務完成之證明。</li>
                                <li>必須透過本公司提供之學生會員系統完成課後訓練/恢復感受回饋，視為固定任務完成之證明。</li>
                                <li>該項條件符合與否及累積進度，更新顯示時間依本公司系統批次，以每日顯示之前日資料為準，如有例外狀況，將依照系統更新調整。</li>
                            </ol>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="divider bg-beyondwhite-dark mt-4 mb-4"></div>
        <div class="col-12">
            <h1 class="mb-3 letter-spacing-2 color-beyondred-dark">大師 · Master</h1>
            <ul class="ps-3">
                <li>【條件一】滿足會員等級至為新手上路 · Newcomer</li>
                <li>【條件二】
                    <ul>
                        <li>條件名稱：當季累積P.T 上課數達20堂以上。</li>
                        <li>條件狀態：
                            <ol>
                                <li>複合式顧問合約P.T 課程。</li>
                                <li>單堂購買P.T課程。</li>
                                <li>點數/贈送P.T課程。</li>
                                <li>企業合作 P.T 課程。</li>
                            </ol>
                        </li>
                        <li>條件說明：於當期會員等級計算期間，累計當季P.T上課數達20堂（含）以上，始符合此條件（上課數計算項目及方式請見注意事項）。</li>
                        <li>注意事項：
                            <ol>
                                <li>完成每堂課前健康自評，視為確認上課之證明。</li>
                                <li>該項條件符合與否及累積進度，更新顯示時間依本公司系統批次，以每日顯示之前日資料為準，如有例外狀況，將依照系統更新調整。</li>
                            </ol>
                        </li>
                    </ul>
                </li>
                <li>【條件三】
                    <ul>
                        <li>條件名稱：完成活動期間內之固定任務。</li>
                        <li>條件狀態：
                            <ol>
                                <li>當季每次預約上課（含PT、PI）之20次健康自評。</li>
                                <li>當季每次預約上課（含PT、PI、SR）10次之課後訓練/恢復感受回饋。</li>
                            </ol>
                        </li>
                        <li>條件說明：於當期會員等級計算期間，完成活動期間內之固定任務，始符合此條件（固定任務項目及方式請見注意事項）。</li>
                        <li>注意事項：
                            <ol>
                                <li>必須透過本公司提供之學生會員系統完成課前健康自評，視為固定任務完成之證明。</li>
                                <li>必須透過本公司提供之學生會員系統完成課後訓練/恢復感受回饋，視為固定任務完成之證明。</li>
                                <li>該項條件符合與否及累積進度，更新顯示時間依本公司系統批次，以每日顯示之前日資料為準，如有例外狀況，將依照系統更新調整。</li>
                            </ol>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="divider bg-beyondwhite-dark mt-4 mb-4"></div>
        <div class="col-12">
            <h1 class="mb-3 letter-spacing-2 color-beyondred-dark">傳奇英雄 · Hero</h1>
            <ul class="ps-3">
                <li>【條件一】滿足會員等級至為新手上路 · Newcomer</li>
                <li>【條件二】
                    <ul>
                        <li>條件名稱：當季累積P.T 上課數達24堂以上。</li>
                        <li>條件狀態：
                            <ol>
                                <li>複合式顧問合約P.T 課程。</li>
                                <li>單堂購買P.T課程。</li>
                                <li>點數/贈送P.T課程。</li>
                                <li>企業合作 P.T 課程。</li>
                            </ol>
                        </li>
                        <li>條件說明：於當期會員等級計算期間，累計當季P.T上課數達24堂（含）以上，始符合此條件（上課數計算項目及方式請見注意事項）。</li>
                        <li>注意事項：
                            <ol>
                                <li>完成每堂課前健康自評，視為確認上課之證明。</li>
                                <li>該項條件符合與否及累積進度，更新顯示時間依本公司系統批次，以每日顯示之前日資料為準，如有例外狀況，將依照系統更新調整。</li>
                            </ol>
                        </li>
                    </ul>
                </li>
                <li>【條件三】
                    <ul>
                        <li>條件名稱：完成活動期間內之固定任務。</li>
                        <li>條件狀態：
                            <ol>
                                <li>當季每次預約上課（含PT、PI）之24次健康自評。</li>
                                <li>當季每次預約上課（含PT、PI、SR）12次之課後訓練/恢復感受回饋。</li>
                            </ol>
                        </li>
                        <li>條件說明：於當期會員等級計算期間，完成活動期間內之固定任務，始符合此條件（固定任務項目及方式請見注意事項）。</li>
                        <li>注意事項：
                            <ol>
                                <li>必須透過本公司提供之學生會員系統完成課前健康自評，視為固定任務完成之證明。</li>
                                <li>必須透過本公司提供之學生會員系統完成課後訓練/恢復感受回饋，視為固定任務完成之證明。</li>
                                <li>該項條件符合與否及累積進度，更新顯示時間依本公司系統批次，以每日顯示之前日資料為準，如有例外狀況，將依照系統更新調整。</li>
                            </ol>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="divider bg-beyondwhite-dark mt-4 mb-4"></div>
        <div class="col-12">
            <h1 class="mb-3 letter-spacing-2 color-beyondred-dark">注意事項</h1>
            @{
                await Html.RenderPartialAsync("~/Views/LearnerActivity/Page.zh-TW/Module/CampainCommonNotice.cshtml");
            }
        </div>
    </div>
</div>