@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    ViewBag.MainClass = "home";
    ViewBag.MenuDark = false;
    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";

}
<div class="menu-title">
    <a href="#" class="close-menu color-white"><i class="fa fa-times"></i>&nbsp;</a>
</div>
<div class="content mx-4 mx-lg-5 mx-md-5 mt-5">
    <div class="accordion mt-4" id="faqs">
        <div class="card card-style shadow-0 bg-white mb-3">
            <button class="btn accordion-btn color-beyond-dark no-effect font-15" data-bs-toggle="collapse"
                data-bs-target="#q1">
                <i class="fa-solid fa-plus me-2 color-beyondred-dark font-12"></i>
                <b class="color-beyond-dark letter-spacing-1 font-500">Beyond Coins是什麼？</b>
                <i class="fa-solid fa-angle-down font-12 color-beyondred-dark accordion-icon"></i>
            </button>

            <div id="q1" class="collapse bg-white show" data-bs-parent="#faqs">
                <div class="pt-3 pb-3">
                    <p class="mx-4 mx-lg-5 mx-md-5 color-beyond-dark opacity-70">Beyond Coins是Beyond
                        Fitness提供顧客全方位的任務回饋體驗。加入Beyond
                        Coins會員後，完成指定任務可獲得點數，並將依照各會員週期門檻達成狀態，於下個週期更新會員等級，等級越高點數累積速度越快，Beyond
                        Coins 點數可用於商品兌換，還可兌換不同課程類型上課使用卷等，讓每次任務成為後續往來基礎，打造點數循環。</p>
                </div>
            </div>
        </div>
        <div class="card card-style shadow-0 bg-white mb-3">
            <button class="btn accordion-btn color-beyond-dark no-effect font-15" data-bs-toggle="collapse"
                data-bs-target="#q2">
                <i class="fa-solid fa-plus me-2 color-beyondred-dark font-12"></i>
                <b class="color-beyond-dark letter-spacing-1 font-500">誰可以加入Beyond Coins會員？</b>
                <i class="fa-solid fa-angle-down font-12 color-beyondred-dark accordion-icon"></i>
            </button>

            <div id="q2" class="collapse bg-white" data-bs-parent="#faqs">
                <div class="pt-3 pb-3">
                    <p class="mx-4 mx-lg-5 mx-md-5 color-beyond-dark opacity-70">
                        只要購買Beyond合約或是於前一季有單次購買課程（P.T/P.I/S.R）之正式會員，即可透過Beyond學生會員系統加入Beyond Coins會員。</p>
                </div>
            </div>
        </div>
        <div class="card card-style shadow-0 bg-white mb-3">
            <button class="btn accordion-btn color-beyond-dark no-effect font-15" data-bs-toggle="collapse"
                data-bs-target="#q3">
                <i class="fa-solid fa-plus me-2 color-beyondred-dark font-12"></i>
                <b class="color-beyond-dark letter-spacing-1 font-500">Beyond Coins會員專區在哪裡？</b>
                <i class="fa-solid fa-angle-down font-12 color-beyondred-dark accordion-icon"></i>
            </button>

            <div id="q3" class="collapse bg-white" data-bs-parent="#faqs">
                <div class="pt-3 pb-3">
                    <p class="mx-4 mx-lg-5 mx-md-5 color-beyond-dark opacity-70">您可以透過<a
                            href="http://www.beyond-fitness.com.tw/Member/">http://www.beyond-fitness.com.tw/Member/</a>，
                        Beyond Coins會員專區喔！</p>
                </div>
            </div>
        </div>
        <div class="card card-style shadow-0 bg-white mb-3">
            <button class="btn accordion-btn color-beyond-dark no-effect font-15" data-bs-toggle="collapse"
                data-bs-target="#q4">
                <i class="fa-solid fa-plus me-2 color-beyondred-dark font-12"></i>
                <b class="color-beyond-dark letter-spacing-1 font-500">什麼情形會喪失會員資格？</b>
                <i class="fa-solid fa-angle-down font-12 color-beyondred-dark accordion-icon"></i>
            </button>

            <div id="q4" class="collapse bg-white" data-bs-parent="#faqs">
                <div class="pt-3 pb-3">
                    <p class="mx-4 mx-lg-5 mx-md-5 color-beyond-dark opacity-70">
                        如果您未擁有本公司生效中合約或於前一季未有任何單次購買課程者（P.T/P.I/S.R），則無法再使用Beyond Coins數位會員服務。</p>
                </div>
            </div>
        </div>
        <div class="card card-style shadow-0 bg-white mb-3">
            <button class="btn accordion-btn color-beyond-dark no-effect font-15" data-bs-toggle="collapse"
                data-bs-target="#q5">
                <i class="fa-solid fa-plus me-2 color-beyondred-dark font-12"></i>
                <b class="color-beyond-dark letter-spacing-1 font-500">Beyond Coins會員等級是什麼？加入Beyond Coins會員有什麼權益？</b>
                <i class="fa-solid fa-angle-down font-12 color-beyondred-dark accordion-icon"></i>
            </button>

            <div id="q5" class="collapse bg-white" data-bs-parent="#faqs">
                <div class="pt-3 pb-3">
                    <p class="mx-4 mx-lg-5 mx-md-5 color-beyond-dark opacity-70">Beyond
                        Coins推出會員等級機制，希望透過不同等級回饋及權益，鼓勵會員頻繁完成各項任務，目前等級機制共有六級，除了會員基本權益外，也將不定期推出任務限時加碼活動喔！</p>
                    <p class="mx-4 mx-lg-5 mx-md-5 color-beyond-dark opacity-70">加入Beyond Coins會員初始等級為新手上路 ·
                        Newcomer，並享以下Beyond Coins會員基本權益</p>
                    <ul class="mx-2 mx-lg-4 mx-md-4 color-beyond-dark opacity-70">
                        <li>任務牆點數回饋</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card card-style shadow-0 bg-white mb-3">
            <button class="btn accordion-btn color-beyond-dark no-effect font-15" data-bs-toggle="collapse"
                data-bs-target="#q6">
                <i class="fa-solid fa-plus me-2 color-beyondred-dark font-12"></i>
                <b class="color-beyond-dark letter-spacing-1 font-500">Beyond Coins會員等級多久調整一次？怎麼調整？</b>
                <i class="fa-solid fa-angle-down font-12 color-beyondred-dark accordion-icon"></i>
            </button>

            <div id="q6" class="collapse bg-white" data-bs-parent="#faqs">
                <div class="pt-3 pb-3">
                    <ul class="mx-4 mx-lg-4 mx-md-4 color-beyond-dark opacity-70">
                        <li>會員等級週期：每次等級週期為三個月，分別為1~3月、4~6月、7~9月、10~12月。</li>
                        <li>會員等級升降：會員等級週期第一日至會員等級週期結束前一日，為會員等級門檻計算區間(1/1 05:00 ~ 3/31 22:30、4/1 05:00 ~ 6/30 22:30、7/1
                            05:00 ~ 9/30 22:30、10/1
                            05:00 ~ 12/31 22:30)，於每季底針對會員是否達成各等級門檻進行判斷，並於次一會員等級週期第一日(1/1、4/1、7/1、10/1)進行等級調整。</li>
                        <li>若有任一顧客新加入Beyond Coins會員，皆將從Level 0開始，待該會員週期結束，計算該週期交易情形，於次一週期調整至新的等級。</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card card-style shadow-0 bg-white mb-3">
            <button class="btn accordion-btn color-beyond-dark no-effect font-15" data-bs-toggle="collapse"
                data-bs-target="#q7">
                <i class="fa-solid fa-plus me-2 color-beyondred-dark font-12"></i>
                <b class="color-beyond-dark letter-spacing-1 font-500">什麼是Beyond Coins點數？</b>
                <i class="fa-solid fa-angle-down font-12 color-beyondred-dark accordion-icon"></i>
            </button>

            <div id="q7" class="collapse bg-white" data-bs-parent="#faqs">
                <div class="pt-3 pb-3">
                    <p class="mx-4 mx-lg-4 mx-md-4 color-beyond-dark opacity-70">Beyond
                        Coins會員的點數服務(點數1點等值新臺幣1元)，可以從各項指定任務活動獲得點數，並可兌換超過15項商品或兌換各類課程，未來將持續新增獲得及使用點數的地方唷！</p>
                </div>
            </div>
        </div>
        <div class="card card-style shadow-0 bg-white mb-3">
            <button class="btn accordion-btn color-beyond-dark no-effect font-15" data-bs-toggle="collapse"
                data-bs-target="#q8">
                <i class="fa-solid fa-plus me-2 color-beyondred-dark font-12"></i>
                <b class="color-beyond-dark letter-spacing-1 font-500">該如何集點？</b>
                <i class="fa-solid fa-angle-down font-12 color-beyondred-dark accordion-icon"></i>
            </button>

            <div id="q8" class="collapse bg-white" data-bs-parent="#faqs">
                <div class="pt-3 pb-3">
                    <p class="mx-4 mx-lg-4 mx-md-4 color-beyond-dark opacity-70">Beyond
                        Coins會員完成任務可獲得相對應點數(例如：健康自評、課後回饋、指定特殊任汶等)，另外將不定期推出活動可累積會員點數唷！</p>
                </div>
            </div>
        </div>
        <div class="card card-style shadow-0 bg-white mb-3">
            <button class="btn accordion-btn color-beyond-dark no-effect font-15" data-bs-toggle="collapse"
                data-bs-target="#q9">
                <i class="fa-solid fa-plus me-2 color-beyondred-dark font-12"></i>
                <b class="color-beyond-dark letter-spacing-1 font-500">Beyond Coins點數有使用期限嗎？</b>
                <i class="fa-solid fa-angle-down font-12 color-beyondred-dark accordion-icon"></i>
            </button>
            <div id="q9" class="collapse bg-white" data-bs-parent="#faqs">
                <div class="pt-3 pb-3">
                    <p class="mx-4 mx-lg-4 mx-md-4 color-beyond-dark opacity-70">Beyond
                        Coins點數有效期限至點數產生次年12/31止，未兌換完畢之點數逾期後將全數消除，並不得要求變現、轉換其他點數、商品等。</p>
                    <p class="mx-4 mx-lg-4 mx-md-4 color-beyond-dark opacity-70">
                        (例如：2023年所產生之點數，點數有效期限至2024/12/31止，未兌換點數於2025/1/1全數消除。)</p>
                </div>
            </div>
        </div>
        <div class="card card-style shadow-0 bg-white mb-3">
            <button class="btn accordion-btn color-beyond-dark no-effect font-15" data-bs-toggle="collapse"
                data-bs-target="#q10">
                <i class="fa-solid fa-plus me-2 color-beyondred-dark font-12"></i>
                <b class="color-beyond-dark letter-spacing-1 font-500">Beyond Coins點數專區在哪裡？</b>
                <i class="fa-solid fa-angle-down font-12 color-beyondred-dark accordion-icon"></i>
            </button>
            <div id="q10" class="collapse bg-white" data-bs-parent="#faqs">
                <div class="pt-3 pb-3">
                    <p class="mx-2 mx-lg-4 mx-md-4 color-beyond-dark opacity-70">登入Beyond
                        Coins會員專區→進入任務集點，就可以看到【點數專區】囉！即可體驗點數各項服務，包含查詢加扣點紀錄、兌換商品！</p>
                </div>
            </div>
        </div>
        <div class="card card-style shadow-0 bg-white mb-3">
            <button class="btn accordion-btn color-beyond-dark no-effect font-15" data-bs-toggle="collapse"
                data-bs-target="#q11">
                <i class="fa-solid fa-plus me-2 color-beyondred-dark font-12"></i>
                <b class="color-beyond-dark letter-spacing-1 font-500">Beyond Coins點數使用明細可以在哪邊查詢?</b>
                <i class="fa-solid fa-angle-down font-12 color-beyondred-dark accordion-icon"></i>
            </button>
            <div id="q11" class="collapse bg-white" data-bs-parent="#faqs">
                <div class="pt-3 pb-3">
                    <p class="mx-2 mx-lg-4 mx-md-4 color-beyond-dark opacity-70">登入Beyond
                        Coins會員專區→進入任務集點，就可以看到【點數專區】囉！點選點數專區中的【查詢】按鈕，就可以查到加點及扣點紀錄囉！</p>
                </div>
            </div>
        </div>
    </div>
</div>