@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    ViewBag.MainClass = "home";
    ViewBag.MenuDark = false;
    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";

}

<div class="menu-title">
    <a href="#" class="close-menu color-theme"><i class="fa fa-times"></i>&nbsp;</a>
</div>
<div class="content mx-4 mx-lg-5 mx-md-5">
    <div class="row">
        <table class="table level-table py-0 my-5 align-self-center px-0 py-0 hidden-sm-up">
            <thead>
                <tr class="table-header">
                    <th colspan="4" class="text-center font-16 py-3">
                        玩家等級攻略表
                    </th>
                </tr>
                <tr class="text-4">
                    <th class="bg-gold-01"></th>
                    <th class="text-center bg-pink-01 py-2" width="25%">P.T</th>
                    <th class="text-center bg-gold-02 py-2" width="25%">健康自評</th>
                    <th class="text-center bg-gold-03 py-2" width="25%">課後回饋</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-start font-14 font-600 bg-gold-03 letter-spacing-1">新手上路·<small
                            class="font-500 d-block mt-n2">Newcomer</small></td>
                    <td class="text-center bg-pink-03 letter-spacing-1">--</td>
                    <td class="text-center bg-white-01 letter-spacing-1">--</td>
                    <td class="text-center bg-pink-03 letter-spacing-1">--</td>
                </tr>
                <tr>
                    <td class="text-start font-14 font-600 bg-gold-02 letter-spacing-1">冒險家·<small
                            class="font-500 d-block mt-n2">Adventurer</small></td>
                    <td class="text-center bg-pink-02 letter-spacing-1">6</td>
                    <td class="text-center bg-gold-03 letter-spacing-1">6</td>
                    <td class="text-center bg-pink-02 letter-spacing-1">3</td>
                </tr>
                <tr>
                    <td class="text-start font-14 font-600 bg-gold-03 letter-spacing-1">探險家·<small
                            class="font-500 d-block mt-n2">Explorer</small></td>
                    <td class="text-center bg-pink-03 letter-spacing-1">12</td>
                    <td class="text-center bg-white-01 letter-spacing-1">12</td>
                    <td class="text-center bg-pink-03 letter-spacing-1">6</td>
                </tr>
                <tr>
                    <td class="text-start font-14 font-600 bg-gold-02 letter-spacing-1">挑戰家·<small
                            class="font-500 d-block mt-n2">Challenger</small></td>
                    <td class="text-center bg-pink-02 letter-spacing-1">18</td>
                    <td class="text-center bg-gold-03 letter-spacing-1">18</td>
                    <td class="text-center bg-pink-02 letter-spacing-1">9</td>
                </tr>
                <tr>
                    <td class="text-start font-14 font-600 bg-gold-03 letter-spacing-1">大師·<small
                            class="font-500 d-block mt-n2">Master</small></td>
                    <td class="text-center bg-pink-03 letter-spacing-1">20</td>
                    <td class="text-center bg-white-01 letter-spacing-1">20</td>
                    <td class="text-center bg-pink-03 letter-spacing-1">10</td>
                </tr>
                <tr>
                    <td class="text-start font-14 font-600 bg-gold-02 letter-spacing-1">傳奇英雄·<small
                            class="font-500 d-block mt-n2">Hero</small></td>
                    <td class="text-center bg-pink-02 letter-spacing-1">24</td>
                    <td class="text-center bg-gold-03 letter-spacing-1">24</td>
                    <td class="text-center bg-pink-02 letter-spacing-1">12</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>