@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Http
@using System.Web

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources
@using WebHome.Properties
@using WebHome.Helper.BusinessOperation

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";

    QueryViewModel _viewModel = ViewBag.ViewModel as QueryViewModel;
    int? contractID = null;

    if (_viewModel?.KeyID != null)
    {
        contractID = _viewModel.DecryptKeyValue();
    }

    var contract = models.GetTable<CourseContract>().Where(c => c.ContractID == contractID).FirstOrDefault();
}
@if (contract != null)
{
    <h1 class="text-center mt-4"><i class="fa fa-3x fa-regular fa-bell color-beyondred-dark rounded-circle"></i></h1>
    <h1 class="text-center mt-3 text-uppercase color-dark font-700">提醒您!</h1>
    <p class="boxed-text-l color-dark opacity-80 line-height-l">
        合約上課截止日即將於<u class="color-beyondred-dark mx-1 font-600">@($"{contract.Expiration:yyyy/MM/dd}")</u>到期，請記得聯絡您的教練喔！
    </p>
    <a href="transaction-contractInfo.html"
       class="close-menu btn btn-full rounded-xl btn-margins border-lightgray-dark color-beyondwhite-dark  bg-beyond-dark font-500 px-3 py-2 font-15 mt-5">合約詳細資訊</a>
}
