@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    ViewBag.MainClass = "home";
    ViewBag.MenuDark = false;
    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";

}

<div class="menu-title">
    <a href="#" class="close-menu color-theme"><i class="fa fa-times"></i></a>
</div>
<div class="content mx-4 mx-lg-5 mx-md-5">
    <div class="row">
        <table class="table level-table py-0 my-5 align-self-center px-0 py-0 hidden-sm-up">
            <thead>
                <tr class="table-header">
                    <th colspan="4" class="text-center font-16 py-3">
                        玩家等級攻略表
                    </th>
                </tr>
                <tr class="text-4">
                    <th class="bg-gold-01" width="10%"></th>
                    <th class="text-center bg-pink-01 py-2" width="20%">P.T</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center font-14 font-600 bg-gold-03">Level 1</td>
                    <td class="text-center bg-pink-03">6</td>
                </tr>
                <tr>
                    <td class="text-center font-14 font-600 bg-gold-02">Level 2</td>
                    <td class="text-center bg-pink-02">12</td>
                </tr>
                <tr>
                    <td class="text-center font-14 font-600 bg-gold-03">Level 3</td>
                    <td class="text-center bg-pink-03">18</td>
                </tr>
                <tr>
                    <td class="text-center font-14 font-600 bg-gold-02">Level 4</td>
                    <td class="text-center bg-pink-02">20</td>
                </tr>
                <tr class="py-5">
                    <td class="text-center font-14 font-600 bg-gold-02 py-2">Level 5</td>
                    <td class="text-center bg-pink-03 py-2">24</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>