@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    ViewBag.MainClass = "home";
    ViewBag.MenuDark = false;
    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";

}
<div class="menu-title">
    <a href="#" class="close-menu color-beyond-dark"><i class="fa fa-times"></i>&nbsp;</a>
</div>
<div class="content mx-4 mx-lg-5 mx-md-5 mt-5 color-beyond-dark">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-3 letter-spacing-2 color-beyondred-dark">固定任務 ·<small class="ps-2 font-14 font-400 text-capitalize">Routin Tasks</small></h1>       
            <div class="row">
                <div class="col-12">
                    <table class="table level-table py-0 mt-3 my-2 align-self-center px-0 py-0 hidden-sm-up">
                        <thead>
                            <tr class="table-header">
                                <th colspan="4" class="text-center font-15 pt-3 pb-1 letter-spacing-2">
                                    P.T課程 Beyond Points
                                </th>
                            </tr>
                            <tr class="text-4">
                                <th class="text-start font-14 bg-pink-01">條件狀態</th>
                                <th class="text-center font-14 bg-gold-01" width="20%">健康自評</th>
                                <th class="text-center font-14 bg-gold-01 py-2" width="20%">感受回饋</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="px-2 px-lg-5 px-md-5">
                                <td class="text-start font-14 font-500 bg-pink-02">複合式顧問合約P.T課程</td>
                                <td class="text-center bg-gold-02">10 P</td>
                                <td class="text-center bg-gold-03">10 P</td>
                            </tr>
                            <tr class="px-2 px-lg-5 px-md-5">
                                <td class="text-start font-14 font-500 bg-pink-03">單堂購買P.T課程</td>
                                <td class="text-center bg-gold-03">10 P</td>
                                <td class="text-center bg-white-01">10 P</td>
                            </tr>
                        </tbody>
                    </table>
                    <span class="color-theme opacity-50 font-12">※ 未在上述列表之P.T課程，不提供任務點數</span>
                </div>
                <div class="col-12">
                    <table class="table level-table py-0 mt-3 my-2 align-self-center px-0 py-0 hidden-sm-up">
                        <thead>
                            <tr class="table-header">
                                <th colspan="4" class="text-center font-15 pt-3 pb-1 letter-spacing-2">
                                    S.R課程 Beyond Points
                                </th>
                            </tr>
                            <tr class="text-4">
                                <th class="text-start font-14 bg-pink-01">條件狀態</th>
                                <th class="text-center font-14 bg-gold-01" width="20%">感受回饋</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="px-2 px-lg-5 px-md-5">
                                <td class="text-start font-14 font-500 bg-pink-02">運動恢復合約課程</td>
                                <td class="text-center bg-gold-02">10 P</td>
                            </tr>
                            <tr class="px-2 px-lg-5 px-md-5">
                                <td class="text-start font-14 font-500 bg-pink-03">複合式顧問合約S.R課程（含加購）</td>
                                <td class="text-center bg-gold-03">10 P</td>
                            </tr>
                            <tr class="px-2 px-lg-5 px-md-5">
                                <td class="text-start font-14 font-500 bg-pink-02">單堂購買S.R課程</td>
                                <td class="text-center bg-gold-02">10 P</td>
                            </tr>
                            <tr class="px-2 px-lg-5 px-md-5">
                                <td class="text-start font-14 font-500 bg-pink-03">體驗購買S.R課程</td>
                                <td class="text-center bg-gold-03">5 P</td>
                            </tr>
                        </tbody>
                    </table>
                    <span class="color-theme opacity-50 font-12">※ 未在上述列表之S.R課程，不提供任務點數</span>
                </div>
                <div class="col-12">
                    <table class="table level-table py-0 mt-3 my-2 align-self-center px-0 py-0 hidden-sm-up">
                        <thead>
                            <tr class="table-header">
                                <th colspan="4" class="text-center font-15 pt-3 pb-1 letter-spacing-2">
                                    P.I課程 Beyond Points
                                </th>
                            </tr>
                            <tr class="text-4">
                                <th class="text-start font-14 bg-pink-01">條件狀態</th>
                                <th class="text-center font-14 bg-gold-01" width="20%">健康自評</th>
                                <th class="text-center font-14 bg-gold-01 py-2" width="20%">感受回饋</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="px-2 px-lg-5 px-md-5">
                                <td class="text-start font-14 font-500 bg-pink-03">全方位自主體能訓練課程</td>
                                <td class="text-center bg-gold-03">5 P</td>
                                <td class="text-center bg-white-01">5 P</td>
                            </tr>
                            <tr class="px-2 px-lg-5 px-md-5">
                                <td class="text-start font-14 font-500 bg-pink-02">有氧自主體能訓練課程</td>
                                <td class="text-center bg-gold-02">3 P</td>
                                <td class="text-center bg-gold-03">3 P</td>
                            </tr>                     
                        </tbody>
                    </table>
                    <span class="color-theme opacity-50 font-12">※ 未在上述列表之P.I課程，不提供任務點數</span>
                </div>  
            </div>            
        </div>
    
        <div class="divider bg-beyondwhite-dark mt-4 mb-4"></div>
        <div class="col-12">
            <h1 class="mb-3 letter-spacing-2 color-beyondred-dark">注意事項</h1>
            <ul class="ps-3">
                <li>為免文字產生歧義，將舊制Beyond幣統稱舊幣，新制下統稱Beyond Points或Beyond Points點數。</li>
                <li>凡Beyond會員即可參與Beyond Points FunRun點數累積活動，相關點數累積說明事項如下，有關點數使用方式及會員權益請另參照Beyond會員權益約定條款。Beyond
                    Fitness保留隨時修改、變更、終止以上任務之權利，其他未盡事宜將於後續公告並實施。</li>
                <li>Beyond Points累積乃自成為Beyond Points
                    FunRun後始啟動累點機制，如為加入Beyond舊會員系統前之交易恕無法溯及既往，惟2024/10/01之前，每1點舊制Beyond幣(以下簡稱「舊幣」)，交換100點Beyond Points。</li>
                <li>Beyond
                    Points有效期限至點數產生次年12/31止，未兌換完畢之點數逾期後將全數消除，並不得要求變現、轉換其他點數、商品等。(例如：2024年所產生之點數，點數有效期限至2025/12/31止，未兌換點數於2026/1/1全數消除。)
                </li>              
            </ul>
        </div>

        <div class="divider bg-beyondwhite-dark mt-4 mb-4"></div>
        <div class="col-12">
            @{
                await Html.RenderPartialAsync("~/Views/LearnerActivity/Page.zh-TW/Module/PopupCampainCommonNotice.cshtml");
            }
        </div>
    </div>    
</div>