@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@using WebHome.Models.Resources

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";

    //await Html.RenderPartialAsync("~/Views/LearnerActivity/Template/GlobalResource.cshtml");
    //dynamic globalResource = ViewContext.HttpContext.Items["GlobalResource"] as dynamic;
    var profile = this.Model as UserProfile;
}
<div class="menu-title text-center">

    <h1 class="text-center mt-4"><i class="fa-solid fa-key fa-3x color-beyondwhite-dark rounded-circle"></i></h1>

    <h1 class="text-center pt-1 pb-2 text-uppercase font-700 color-beyond-dark pt-2">
        更新密碼<small class="ps-2 font-12 font-400 text-capitalize color-theme d-block">Password Update</small>
    </h1>

</div>

<div class="content">

    <p class="boxed-text-l color-theme text-start line-height-l px-2">

        <div class="input-style has-borders input-style-always-active has-icon validate-field mt-2">

            <i class="fa fa-lock color-red-dark"></i>

            <input type="password" class="form-control validate-password" id="form3a" placeholder="輸入密碼" name="Password" />

            <label for="form3a" class="color-theme text-uppercase font-700 font-16">輸入密碼</label>

            <i class="fa fa-times disabled invalid color-red-dark"></i>

            <i class="fa fa-check disabled valid color-green-dark"></i>

            <em>(必要輸入)</em>

        </div>

        <div class="pb-3"></div>

        <div class="input-style has-borders input-style-always-active has-icon validate-field mt-2">

            <i class="fa fa-lock color-red-dark"></i>

            <input type="password" class="form-control validate-password" id="form3a1" placeholder="再次輸入密碼" name="Password2" />

            <label for="form3a1" class="color-theme text-uppercase font-700 font-16">再次輸入密碼</label>

            <i class="fa fa-times disabled invalid color-red-dark"></i>

            <i class="fa fa-check disabled valid color-green-dark"></i>

            <em>(必要輸入)</em>

        </div>

        <a href="javascript:commitPassword();"
           class="btn btn-full rounded-xl btn-margins border-light border-opacity-50 color-beyondwhite-dark  bg-beyond-dark font-500 px-3 py-2 font-15 mt-5 fst-italic letter-spacing-2">確定更新！</a>
        <script>
            function commitPassword() {
                var viewModel = {
                    'Password': $('input[name="Password"]').val(),
                    'Password2': $('input[name="Password2"]').val(),
                    'KeyID': '@Html.Raw(profile.UID.EncryptKey())',
                };
                doPost('@Html.Raw(Url.Action("CommitPassword", "LearnerActivity"))', viewModel, function (data) {
                    $('body').append(data);
                });
            }
        </script>
    </p>

</div>

