@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using WebHome.Properties
@using WebHome.Helper.BusinessOperation
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    CourseContract _model;

    CourseContractViewModel _viewModel = (CourseContractViewModel)ViewBag.ViewModel;

    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _model = (CourseContract)this.Model;
}
<table class="table">
    <tbody>
        <tr>
            <td>
                <h6 class="m-b-0"><b>Beyond Fitness產品及服務特約條款</b><span></h6>
                <hr />
                本場館為超越體能顧問有限公司(以下簡稱「本公司」或「Beyond」)所提供經營管理並提供各項體能/健康顧問服務，本公司之代表人為黃政浩，本公司之其他資訊如下：
                <ul style="list-style-type:decimal; padding-left: 15px; margin: 0;">
                    <li>電話：(02)27152733</li>
                    <li>電子郵件：info@beyond-fitness.com.tw</li>
                    <li>服務網址：https://www.beyond-fitness.com.tw/</li>
                    <li>公司登記地址：台北市松山區南京東路四段17號地下一樓</li>
                    <li>營業登記證字號：10653882400</li>
                </ul>
                <b>本場館依法向國泰產物保險股份有限公司承保公共意外責任險(現場、官網公告)。</b><br /><br />
                <ul style="list-style-type:disc; padding-left: 15px; margin: 0;">
                    <li>南京店預計簽約消費者數： 人。本場所現有簽約消費者數： 人。</li>
                    <li>南京店實際可供學員使用之總面積： 平方公尺。本場所最大容留人數： 人。</li>
                    <li>信義安和店實際可供學員使用之總面積： 平方公尺。本場所最大容留人數： 人。</li>
                    <li>信義安和店實際可供學員使用之總面積： 平方公尺。本場所最大容留人數： 人。</li>
                    <li>忠孝店實際可供學員使用之總面積： 平方公尺。本場所最大容留人數： 人。</li>
                    <li>忠孝店實際可供學員使用之總面積： 平方公尺。本場所最大容留人數： 人。</li>
                    <li>東門店實際可供學員使用之總面積： 平方公尺。本場所最大容留人數： 人。</li>
                    <li>東門店實際可供學員使用之總面積： 平方公尺。本場所最大容留人數： 人。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>
                        <b>Beyond應提供服務及說明內容</b><br />
                        於營業時間內，Beyond應提供學員下列服務內容：
                        <ol start="1">
                            <li>合格可供正常使用之運動器材設備(請參考附件一)。</li>
                            <li>各種設備使用方法之說明。</li>
                            <li>各種設備於明顯處所張貼不當使用可能產生危險之警告標示及緊急危險處理方法說明。</li>
                            <li>有合法證照或專業資歷之教練或指導員(現場、官網公告)。</li>
                            <li>各種設備如有故障需維修之情形，將揭露於現場明顯處及網站。</li>
                        </ol>
                        備註：<br />
                        ※&nbsp;&nbsp;教練：指有各該專項運動技術之訓練人員。<br />
                        ※&nbsp;&nbsp;指導員：指通過「國民體適能指導員資格檢定辦法」第 2 條規定之指導員檢定者。
                    </li>
                    <li>
                        <b>自主體能訓練期間及時段</b><br />
                        <ol>
                            <li>學員需按其於Beyond課程系統上所預約之時間準時到場進行訓練，若學員於預約時間遲到20分鐘後到場，Beyond有權拒絕學員入場進行訓練，且該訓練堂數仍計入學員已使用堂數，不得展延。
                            </li>
                            <li>學員需於本合約有效期間內將自主訓練堂數使用完畢，未使用完畢之堂數不得展延至本合約有效期間後使用。惟學員已於合約有效期間內按本合約第11條辦理課程暫停者，不再此限。</li>
                        </ol>
                    </li>
                    <li>
                        <b>學員參加自主訓練之資格 (合約生效條件)</b><br />
                        <ol>
                            <li>學員需為Beyond體能顧問課程(P.T)在籍課程學員，並於自主訓練前需獲得體能顧問課程教練事前同意，並已事先獲得體能顧問教練開立之訓練菜單，始得預約進行自主訓練。</li>
                            <li>學員需於自主訓練前一個月確定訓練日期，並於預約日期準時到場進行訓練。</li>
                            <li>18歲以下學員，應得其法定代理人之允許或承認，本合約始生效力。</li>
                        </ol>
                    </li>
                    <li>
                        <b>自主訓練課程費用之繳納及退費之計算基礎</b><br />
                        本合約自學員付清自主訓練全額堂數費用時生效。學員繳交之第一項費用於終止合約時，其計算退費之基礎價格，應依簽訂合約時所約定之價格。
                    </li>
                    <li>
                        <b>費用調整</b><br />
                        Beyond除經學員同意外，不得調高第6條約定費用。但學員最新購買自主訓練月票，不得對Beyond主張依前次購買金額計算之。
                    </li>
                    <li>
                        <b>簽約後使用設施前之解約</b><br />
                        學員於繳納費用後有下列情形之一者，得解除合約並請求全額退還已繳費用：
                        <ol>
                            <li>所簽合約始期尚未屆至。</li>
                            <li>有本合約所載之解除合約事由。</li>
                        </ol>
                    </li>
                    <li>
                        <b>贈與約定及其效果</b>
                        <ol>
                            <li>Beyond對學員贈與之贈品價值總計不得逾合約總金額百分之二十。</li>
                            <li>Beyond以贈與商品或服務為內容所為之贈與，於合約終止或解除時，Beyond不得向學員請求返還該贈與，亦不得向學員主張自應返還之費用金額中扣除該贈與之價額。</li>
                            <li>Beyond以贈送使用時數為內容而簽定合約者，應將該期限合併納入合約範圍。</li>
                        </ol>
                    </li>
                    <li>
                        <b>學員員權利義務</b><br />
                        學員於自主訓練課堂期間內，有權使用Beyond設施設備及接受現場人員之服務。學員應遵守本合約及Beyond管理規範，並應遵守Beyond現場管理人員指示使用器材進行自主訓練。
                    </li>
                    <li>
                        <b>學員自主訓練權利之暫停與效果</b>
                        <ol>
                            <li>學員事先提出相關文件證明或釋明下列事由之一者，Beyond應於七個工作日內未學員辦理課程暫停，而學員自主訓練課程有效期間得以展延至雙方另行約定之日期：
                                <ol>
                                    <li>因出國逾 1 個月。</li>
                                    <li>因傷害、疾病或身體不適致不宜運動者。</li>
                                    <li>因懷孕、育嬰、侍親之需要者。</li>
                                    <li>因服兵役致難以行使其權利者。</li>
                                    <li>因職務異動或遷居致難以行使其權利者。</li>
                                    <li>其他事由致難以履約。</li>
                                </ol>
                            </li>
                            <li>學員依前項第二款事由，展延自主訓練課程 6 個月後，學員經醫師開立診斷證明，於 6
                                個月之期間不能運動者，得依準用本合約第13條規定終止合約，惟不得額外收取其他任何未記載於本合約內之費用。</li>
                            <li>第10.1項第二款事由，若學員未能事先提出，得於事由發生後一個月內補辦。</li>
                        </ol>
                    </li>
                    <li>
                        <b>不可歸責學員事由之終止與效果</b><br />
                        <ol>
                            <li>學員因下列事由之一，而自接獲Beyond通知或知悉事由時起三十日內終止合約者，Beyond應依第15條規定退費，不得收取手續費、違約金或任何名目費用：
                                <ol>
                                    <li>Beyond營業場所搬遷或Beyond營業場所總面積縮減百分之二十以上者。但經學員同意，不在此限。</li>
                                    <li>因Beyond提供之運動器材設備或指導員等少於合約約定百分之二十以上。</li>
                                </ol>
                            </li>
                            <li>Beyond營業場所因例行維修需要而造成營業期間暫停者，合約有效期間順延。但每月二日以內例行維修者，不在此限。</li>
                        </ol>
                    </li>
                    <li>
                        <b>可歸責學員事由之終止與效果</b><br />
                        因可歸責學員之事由，致不能繼續履約者，Beyond應依下列規定計算終止後應退還之費用，並收取事先約定之行政手續費，惟不得額外收取其他任何未記載於本合約內之費用：
                        <ol>
                            <li>合約生效七日內且學員未使用任何自主訓練服務堂數而終止合約者，Beyond應全額退還學員已繳費用。惟若合約生效後已逾七日，將從退費金額內收取退費金額之百分之五(5%)作為手續費。
                            </li>
                            <li>合約生效七日後或學員已使用部分堂數而終止合約：依學員實際使用自主訓練堂數計費，Beyond應退還學員未使用之堂數費用(計算方式：就剩餘未過期且未使用之堂數乘以每堂購買單價退費)，將從退費金額內收取退費金額之百分之二十(20%)作為手續費。
                            </li>
                        </ol>
                    </li>
                    <li>
                        <b>不可歸責雙方事由之終止與效果</b><br />
                        學員有影響Beyond營運之不當行為情節重大，經勸告無效者，Beyond得終止合約，並應依未到期時間比例（含贈與堂數)計算餘額退還予學員(計算方式：就剩餘未過期且未使用之堂數乘以每堂購買單價退費)，將從退費金額內收取退費金額之百分之二十(20%)作為手續費。惟不得額外收取任何未記載於本合約之違約金或其他名目費用。
                    </li>
                    <li>
                        <b>可歸責Beyond事由之終止與效果</b><br />
                        可歸責Beyond之事由致不能繼續履約者，學員得終止合約，Beyond應依學員未使用之堂數 (含贈與堂數)計算應退餘額退還予學員，不得收取手續費用、違約金或任何名目費用。
                    </li>
                    <li>
                        <b>終止合約之通知及退款方式</b><br />
                        任一方依第11條至第15條規定終止合約時，得以書面或擇下列方式之一通知他方時，即生效力：<br />
                        ●&nbsp;&nbsp;於Beyond分店店面（Beyond應於簽收後出具證明交予學員收執）。<br />
                        ●&nbsp;&nbsp;其他方式：書面通知。<br />
                        Beyond並應於終止合約後十五工作日內將應退款交付學員。
                    </li>
                    <li>
                        <b>自主訓練堂數不得轉讓予第三人</b><br />
                        學員所購買之自主訓練堂數，不得轉讓。
                    </li>
                    <li>
                        <b>因可歸責於Beyond事由變更學員權利行使、服務內容</b>
                        <ol>
                            <li>Beyond有下列情形之一者，應於24小時以前依合約所載方式通知學員，及於營業場所明顯處公告。但因天災、戰亂、政府法令之新增或變更等不可抗力或其他不可歸責於雙方當事人之事由致無法營業者，不在此限：
                                <ol>
                                    <li>Beyond營業場所搬遷者。</li>
                                    <li>Beyond營業場所總面積縮減百分之二十以上。</li>
                                    <li>Beyond無法正常營業或有重大影響消費者權宜之事由。</li>
                                </ol>
                            </li>
                            <li>若未能證明前項通知及公告，致學員權利受損者，Beyond應無條件賠償學員應使用之堂數或相當於未使用堂數之費用，且不得收取任何形式之手續、行政處理費用。</li>
                        </ol>
                    </li>
                    <li>
                        <b>Beyond維護訓練場地及在場人員之相關義務</b><br />
                        Beyond於其各該營業場所內，應遵守下列各款規定：
                        <ol>
                            <li>提供本合約第2條所約定所列運動器材設備及定期維護或更新。</li>
                            <li>配置本合約第2條約定具有合法證明或專業資歷之教練或指導員。</li>
                            <li>配置適當救生器材。</li>
                            <li>配置具有急救訓練資格之員工。</li>
                            <li>Beyond因學員簽訂本合約或申請權利暫停，而知悉或持有學員個人資料，應予保密及依「個人資料保護法」相關規定處理。Beyond違反本款規定者，學員得請求損害賠償。</li>
                            <li>Beyond不得向學員強行推銷商品、課程或收取未約定之費用。</li>
                        </ol>
                    </li>
                    <li>
                        <b>自主訓練時設備之使用</b><br />
                        學員於自主訓練時使用Beyond設備，同意並保證於營業時間內將確實遵守本公司實體場館之管理規範及所有設備、空間使用規則，包括但不限於現場所有張貼之場規、注意事項及下列規範：
                        <ol>
                            <li>到場後應先於接待櫃台登記並出示自主訓練預約紀錄及其指導體能顧問教練教練所開立之訓練菜單，經登記後始得入場。</li>
                            <li>空間及設備使用
                                <ol>
                                    <li>學員因購買本公司提供之產品及服務，而使用本公司實體場館之空間或設備時，應著適當合宜服裝(即運動服裝、慢跑鞋、訓練鞋及舉重鞋等)，不得赤腳或穿著牛仔褲、涼鞋等不適宜運動之服裝，但經本公司或學員同意者，不在此限。若配合政府疫情措施，則應落實個人防護措施，主動積極配合各項防疫措施，以兼顧防疫與實體場館使用品質。
                                    </li>
                                    <li>學員應依各項器材之指示使用設備，不得有任何毀損本公司設備之行為。</li>
                                    <li>學員不得攜帶違禁品或危險物品進入本公司實體場館，及勿攜帶貴重物品至本公司實體場館。學員所攜帶之金錢、有價證券、珠寶或其他貴重物品應自行妥善保管，若遺失本公司不負責任。
                                    </li>
                                    <li>本公司在實體場館備置櫥櫃提供學員暫時擺置隨身攜帶物品(不含易腐敗物品)使用，不應用做存放財物用途，學員應避免攜帶貴重物品，否則應自行隨身攜帶並妥善保管。學員應於每次使用設備完畢後即行攜離。學員應於每次使用本公司設備完畢後即行攜離。其有學員未攜離物品經本公司定2個月以上期間公告招領而仍未取回者，依《民法》第607條等相關規定處理。
                                    </li>
                                    <li>本公司實體場館內及進出門口不得有賭博、喝酒、吸菸、吃檳榔、喧嘩、口出穢言、於非更衣室空間
                                        未著衣物或其他不當而足以影響其他學員權益，或其他違反法令等行為(如竊盜、傷害、竊拍或竊錄等行為)；於本公司指定區域內亦不得飲食；未經同意不得拍攝商業性質影片。學員參與本公司提供之產品及服務而使用本公司實體商店之空間或設備者，亦同。
                                    </li>
                                    <li>學員應適當使用本公司實體商店各空間及設備，並自行斟酌個人健康狀況，不做不當運動或參與其體力所無法負荷之活動。</li>
                                </ol>
                            </li>
                            <li>本公司為便利學員使用本公司實體場館空間及器材設備，得新增或修訂各種管理規範。</li>
                            <li>服務除外聲明：本公司於營業場所內僅提供第本合約內所載之服務內容，其自主訓練項目為自行使用場地之服務並未提供任何教練現場指導或課程。5.3
                                學員應友善對待本公司之學員、員工、供應商、合作夥伴等，如學員的言行或行為有侵犯或影響其他人之權益，本公司得暫停學員一部或全部之服務並保留對本公司求償之權利。司得暫停學員一部或全部之服務並保留對本公司求償之權利。
                            </li>
                            <li>使用之損害賠償責任
                                <ol>
                                    <li>因學員故意或過失不當使用實體場館之空間或設備而導致本公司、本公司人員、本公司設備或其人員受有損害者，學員應負損害賠償責任。</li>
                                    <li>如因學員同行親友之故意或過失，致使用實體場館之空間或設備造成本公司、本公司人員、本公司設備及其人員受有損害者，學員應負連帶損害賠償責任。
                                    </li>
                                    <li>其他當事人一方違反本合約而導致他方受損害者，應負損害賠償責任。</li>
                                    <li>本公司為合法成立健身房，並有投保『公共意外責任險』，保障客戶權益，若學員於本場館內正常使用器材但意外受傷，或因公共環境、建築物、通道、機械等造成之意外事故，將會由第三方公正單位做判定理賠，保障客戶之權益，讓學員更安心運動。
                                    </li>
                                    <li>本公司每半年申報消防安全設備審查
                                        並配有一位合格防火管理人審查包含：滅火器數量與效能、自動警報器與手動警報器、緊急廣播設備、安全標示、緊急照明設備、緊急電源等。</li>
                                </ol>
                            </li>
                            <li>學員應適當使用Beyond各種設備，並自行斟酌個人健康狀況，遵守其所屬Beyond體能顧問教練所開立之訓練菜單進行訓練，不做菜單以外之項目或任何其體力無法負荷之活動。</li>
                        </ol>
                    </li>
                    <li>
                        <b>設備器材管理規範訂頒及修正</b><br />
                        Beyond為便利學員充分有效使用Beyond運動器材設備，得為各種器材使用管理規範訂頒及修正。
                    </li>
                    <li>
                        <b>通知</b><br />
                        任一方應依本合約所載資料，將有關事項通知他方。<br />
                        任一方對他方為書面通知時，應依本合約所載地址寄發。<br />
                        任一方地址有變更者，應通知他方變更之，爾後寄發通知，應向變更後地址為之。
                    </li>
                    <li>
                        <b>準據法</b><br />
                        本契約以中華民國法律為準據法。
                    </li>
                    <li>
                        <b>合意管轄</b><br />
                        因本合約涉訟者，甲乙雙方同意以臺灣臺北地方法院為第一審管轄法院，但不得排除「消費者保護法」第 47 條或民事訴訟法第 28 條第 2 項、第 436 條之 9 有關小額訴訟管轄法院之適用。
                    </li>
                    <li>
                        <b>疑義解釋</b><br />
                        本合約條款有疑義者，應以作有利於學員之解釋。
                    </li>
                    <li>
                        <b>未盡事宜之處理</b><br />
                        本合約有未盡事宜者，依相關法令、習慣及誠信原則公平解決之。
                    </li>
                    <li>
                        <b>合約書之分執保管</b><br />
                        本合約一式 2 份，由甲乙雙方各執 1 份為憑。
                    </li>
                </ol>
            </td>
        </tr>
    </tbody>
</table>