@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using WebHome.Properties
@using WebHome.Helper.BusinessOperation
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    CourseContract _model;

    CourseContractViewModel _viewModel = (CourseContractViewModel)ViewBag.ViewModel;

    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _model = (CourseContract)this.Model;
}
<div style="page-break-before:always;">  
    <table class="table" style="margin:0; padding: 0;font-size: 11px;">
        <tbody>
            <tr>
                <td>
                    本場館為超越體能顧問有限公司(以下簡稱「本公司」或「BF」)所提供經營管理並提供各項體能顧問服務，本公司之代表人為黃政浩，本公司之其他資訊如下：
                    <ul style="list-style-type:number; padding-left: 15px; margin: 0;">
                        <li>電話：(02)27152733</li>
                        <li>電子郵件：info@beyond-fitness.com.tw</li>
                        <li>服務網址：https://www.beyond-fitness.com.tw/</li>
                        <li>公司登記地址：台北市松山區南京東路四段17號地下一樓</li>
                        <li>營業登記證字號：10653882400</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <b>電子文件之效力</b><br />
                    本公司與學員之間同意以電子文件為表示方法，依本合約交換之電子文件，如其內容可完整呈現且可於日後取出供查驗者，其效力與書面文件相同。但依法令有強制規定排除適用者，不在此限。上述電子文件係以文字、聲音、影片、圖像、符號或其他資料，以電子之方式所製成足以表達意思表示之紀錄，而提供作電子處理者。本公司將記錄相關電子文件資料，如您發現提供之資訊有誤之情形，應立即通知本公司。
                </td>
            </tr>
            <tr>
                <td>
                    <b>電子簽章之效力</b><br />
                    本公司服務項目之所有合約係採電子文件，依電子簽章法相關規範。<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;學員於使用本公司服務前，應詳細閱讀本合約及其他BEYOND FITNESS雲端學員管理系統及官方網站公布之服務相關條款，並有至少 3
                    日之審閱期，本合約已於<u>@($"{_model.ValidFrom.Value.Year}年{_model.ValidFrom.Value.Month:00}月{_model.ValidFrom.Value.Day:00}日")</u>交由學員 <u>OOOOO</u> 審閱。<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;學員瞭解，學員於本公司網站或APP系統中勾選「我已閱讀並同意超越體能顧問有限公司隱私政策、服務條款、相關使用及消費合約」之選項之前，或於此文案後繼續點擊進行下一步驟時，學員先需於合理審閱期間內，詳閱本合約書的所有條款。<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;學員願意完全遵守本合約書與使用本公司系統、其產品及服務相關之管理規章、規則；若學員無法遵守BEYOND
                    FITNESS雲端學員管理系統、本公司服務、其產品及服務條款內容、或對條款內容全部或部分不同意時，學員請勿使用本公司相關服務。
                </td>
            </tr>
            <tr>
                <td>
                    <b>合約之構成</b><br />
                    本合約包含體能顧問服務之條款、附約、同意書、調查表、平台隱私權條款及蒐集、處理及利用個人資料告知事項暨同意書等，均構成本合約一部分，與本合約有同一效力。
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table" style="margin:0; padding: 0;font-size: 11px; ">
        <tbody>
            <tr>
                <td>
                    <ol>
                        <li>
                            <b>文件之合意</b>
                            <ol start="1">
                                <li>學員為未滿18歲(申請入會者(未成年)，應保證其已得法定代理人之允許或承認，且其法定代理人已詳閱並瞭解本合約規範及本公司公告於官網及BEYOND
                                    FITNESS系統之法定代理人同意書之所有內容，如因本合約所生之爭議，其應自負相關法律責任。</li>
                                <li>學員幫未成年購買產品服務前，應保證其已詳閱並瞭解本合約規範及本公司公告於官網及 BEYOND
                                    FITNESS系統之法定代理人同意書之所有內容，如因本合約所生之爭議，其應自負相關法律責任。</li>
                                <li>學員於BEYOND FITNESS系統應詳閱本合約書後勾選「我已閱讀並同意BEYOND
                                    FITNESS隱私政策、服務條款、相關使用及消費合約」之選項或於此文案後繼續點擊進行下一步驟時，視同簽章，並提交相關個人身分鑑別資料，包括姓名、生日、電話、身分證字號或護照號碼、證件照片、住址、簽名資料等。
                                </li>
                                <li>學員應於購買合約時確認學員所提供之資料真實、完整、有效，並確認已自行諮詢醫師，保證其身體狀況適於從事本公司所提供之產品或服務。如因學員未提供真實、完整、有效之身體健康聲明，致使其於本公司提供之產品或服務之過程中有不適、受傷及其他損害者，學員應自行負責。如身體狀態有變化者，學員亦應及時向本公司要求更新，如因學員未予及時更新造成學員自身損害者，學員亦應自行負責，一概與本公司無涉。
                                </li>
                                <li>學員登入BEYOND FITNESS系統後，視同本人親自操作；且其所勾選之「同意」或類似選項，性質上視同本人親自簽名同意，學員應接受其等同親自簽名之法律效力。</li>
                                <li>學員於BEYOND
                                    FITNESS系統購買健身教練服務相關產品服務時，應詳閱該產品服務方案之說明及注意事項所記載之產品服務種類、服務教練及學員之姓名/名稱、連絡方式、電子郵件、網址、地址或其他聯絡資料、課程場地、期限、教練學員比例、費用、堂數、繳費時間、退費、補課機制、有無指定教練及指定教練之姓名、購買體能顧問服務資格、體能顧問服務是否需預約及預約方式等。前述說明及注意事項，依本合約22條所列為本合約之附約，均視為本合約一部分。當學員成功購買產品服務即視同其了解並同意相關合約及附約內容，本合約即刻生效。
                                </li>
                            </ol>
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>
                    <ol start="2">
                        <li>
                            <b>實體場館基本資料、設備</b><br />
                            學員的實體商店基本資料如本合約前言所載。各實體館場地址資訊、使用面積、預計招收會員數、現有會員人數、最大容留人數及所投保之公共意外責任險，請參考本公司官網之介紹。
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>
                    <ol start="3">
                        <li>
                            <b>實體場館營業時間</b><br />
                            <ol>
                                <li>本公司營業時間請參考官網之介紹。</li>
                                <li>於本合約有效期間內，本公司實體商店因有維修或其他需要而造成營業期間暫停，應予展延或有其他配套措施。但每月 2 日以內之例行維修，並於維修 24
                                    小時前事先通知甲方或公告者，不在此限。</li>
                                <li>因天災、地變、政府法令或其他不可歸責於本公司事由致無法營業者，本公司得暫時停業或縮短營業時間，除法令另有訂定或另有約定外，學員不得請求損害賠償，或展延方案。</li>
                            </ol>
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>
                    <ol start="4">
                        <li>
                            <b>實體場館提供之服務內容</b><br />
                            <ol>
                                <li>於營業時間內，本公司於場館提供之服務內容如下：
                                    <ol>
                                        <li>合格可供正常使用之運動器材設備。本公司得依健身產業之實際發展情形及學員使用狀況，調整所提供之現有設備或設施供學員使用。</li>
                                        <li>各種設備使用方法之中文標示及使用說明。</li>
                                        <li>各種設備於明顯處所張貼不當使用可能產生危險之警告標示及緊急處理危險方法之說明。</li>
                                    </ol>
                                </li>
                                <li>本公司於各該實體商店內之設施管理、維修與人員配置情形，可至本公司官網查詢：
                                    <ol>
                                        <li>合格之運動器材設備及定期維護或更新。</li>
                                        <li>適當救生器材。</li>
                                        <li>器材使用說明牌。</li>
                                    </ol>
                                </li>
                                <li>服務除外聲明：本公司於營業場所內僅提供第本合約內所載之服務內容，其自主訓練項目為自行使用場地之服務並未提供任何教練現場指導或課程。</li>
                            </ol>
                        </li>
                    </ol>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="page-break-before:always;">
    <table class="table" style="margin:0; padding: 0;font-size: 11px;">
        <tbody>
            <tr>
                <td>
                    <ol start="5">
                        <li>
                            <b>實體場館使用與安全</b><br />
                            學員同意並保證於營業時間內將確實遵守本公司實體場館之管理規範及所有設備、空間使用規則，包括但不限於現場所有張貼之場規、注意事項及下列規範：
                            <ol>
                                <li>空間及設備使用
                                    <ol>
                                        <li>學員因購買本公司提供之產品及服務，而使用本公司實體場館之空間或設備時，應著適當合宜服裝(即運動服裝、慢跑鞋、訓練鞋及舉重鞋等)，不得赤腳或穿著牛仔褲、涼鞋等不適宜運動之服裝，但經本公司或學員同意者，不在此限。若配合政府疫情措施，則應落實個人防護措施，主動積極配合各項防疫措施，以兼顧防疫與實體場館使用品質。
                                        </li>
                                        <li>學員應依各項器材之指示使用設備，不得有任何毀損本公司設備之行為。</li>
                                        <li>學員不得攜帶違禁品或危險物品進入本公司實體場館，及勿攜帶貴重物品至本公司實體場館。學員所攜帶之金錢、有價證券、珠寶或其他貴重物品應自行妥善保管，若遺失本公司不負責任。
                                        </li>
                                        <li>本公司在實體場館備置櫥櫃提供學員暫時擺置隨身攜帶物品(不含易腐敗物品)使用，不應用做存放財物用途，學員應避免攜帶貴重物品，否則應自行隨身攜帶並妥善保管。學員應於每次使用設備完畢後即行攜離。學員應於每次使用本公司設備完畢後即行攜離。其有學員未攜離物品經本公司定2個月以上期間公告招領而仍未取回者，依《民法》第607條等相關規定處理。
                                        </li>
                                        <li>本公司實體場館內及進出門口不得有賭博、喝酒、吸菸、吃檳榔、喧嘩、口出穢言、於非更衣室空間未著衣物或其他不當而足以影響其他會員權益，或其他違反法令等行為(如竊盜、傷害、竊拍或竊錄等行為)；於本公司指定區域內亦不得飲食；未經同意不得拍攝商業性質影片。學員參與本公司提供之產品及服務而使用本公司實體商店之空間或設備者，亦同。
                                        </li>
                                        <li>學員應適當使用本公司實體商店各空間及設備，並自行斟酌個人健康狀況，不做不當運動或參與其體力所無法負荷之活動。</li>
                                    </ol>
                                </li>
                                <li>本公司為便利學員使用本公司實體場館空間及器材設備，得新增或修訂各種管理規範。</li>
                                <li>服務除外聲明：本公司於營業場所內僅提供第本合約內所載之服務內容，其自主訓練項目為自行使用場地之服務並未提供任何教練現場指導或課程。</li>
                                <li>學員應友善對待本公司之學員、員工、供應商、合作夥伴等，如學員的言行或行為有侵犯或影響其他人之權益，本公司得暫停學員一部或全部之服務並保留對本公司求償之權利。</li>
                                <li>使用之損害賠償責任
                                    <ol>
                                        <li>因學員故意或過失不當使用實體場館之空間或設備而導致本公司、本公司人員、本公司設備或其人員受有損害者，學員應負損害賠償責任。</li>
                                        <li>如因學員同行親友之故意或過失，致使用實體場館之空間或設備造成本公司、本公司人員、本公司設備及其人員受有損害者，學員應負連帶損害賠償責任。</li>
                                        <li>其他當事人一方違反本合約而導致他方受損害者，應負損害賠償責任。</li>
                                        <li>本公司為合法成立健身房，並有投保『公共意外責任險』，保障客戶權益，若學員於本場館內正常使用器材但意外受傷，或因公共環境、建築物、通道、機械等造成之意外事故，將會由第三方公正單位做判定理賠，保障客戶之權益，讓學員更安心運動。
                                        </li>
                                        <li>本公司每半年申報消防安全設備審查
                                            並配有一位合格防火管理人審查包含：滅火器數量與效能、自動警報器與手動警報器、緊急廣播設備、安全標示、緊急照明設備、緊急電源等。</li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </td>
            </tr>
        </tbody>
    </table>
</div>