@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    ViewBag.MainClass = "home";
    ViewBag.MenuDark = false;
    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";

    GameLevelRequirement _model = this.Model as GameLevelRequirement;
    PromotionAppraisalDataModel appraisal = (PromotionAppraisalDataModel)ViewBag.Appraisal;
    Player currentPlayer = ViewBag.Player as Player;
    var profile = currentPlayer?.UserProfile ?? (await Context.GetUserAsync());

    CampaignMissionDataModel mission = (CampaignMissionDataModel)ViewBag.CurrentMission;

    StageProgress current = (StageProgress)ViewBag.StageProgress;

}
@{
    var lessonItems = models.GetTable<LessonTime>()
            .Where(f => f.RegisterLesson.LessonPriceType.LessonMissionBonusAwardingItem.Any(b => b.MissionID == (int)CampaignMission.CampaignMissionType.SelfAssessment))
            .Where(f => f.RegisterLesson.UID == profile.UID)
            .Where(l => l.ClassTime >= current.StartDate)
            .Where(l => l.ClassTime < current.EndExclusiveDate);

    var feedbackItems = lessonItems
                            .SelectMany(l => l.LessonFeedBack)
                            .Where(f => f.RegisterLesson.UID == profile.UID)
                            .Where(f => f.CommitAssessment.HasValue);

    mission.Goal = _model?.Threshold ?? 0;
    mission.ResultModel = feedbackItems.Count();
    mission.CheckResult = _model == null ? true : (int)mission.ResultModel >= (int)mission.Goal;
}

<div class="card bg-beyond-dark text-center">
    <img src="@Html.Raw(mission.CheckResult ? "../images/icons/finish.svg" : "../images/icons/unfinish.svg")" class="rounded-circle mb-2 mt-2" width="100%" height="100%">
    <span
        class="d-block @Html.Raw(mission.CheckResult ? "color-beyondwhite-dark" : "color-white opacity-50") font-14">健康自評<small
            class="d-block">(@(mission.ResultModel)/@(mission.Goal))</small></span>

</div>
