@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    ViewBag.MainClass = "home";
    ViewBag.MenuDark = false;
    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";

    GameLevelRequirement _model = this.Model as GameLevelRequirement;
    PromotionAppraisalDataModel appraisal = (PromotionAppraisalDataModel)ViewBag.Appraisal;
    Player currentPlayer = ViewBag.Player as Player;
    var profile = currentPlayer?.UserProfile ?? (await Context.GetUserAsync());

    CampaignMissionDataModel mission = (CampaignMissionDataModel)ViewBag.CurrentMission;

    StageProgress current = (StageProgress)ViewBag.StageProgress;

}
@{
    LessonTimeAchievementHelper helper = new LessonTimeAchievementHelper(models)
    {
        LessonItems = models.GetTable<V_Tuition>()
                .Where(l => l.ClassTime >= current.StartDate)
                .Where(l => l.ClassTime < current.EndExclusiveDate)
    };

    var lessons = models.GetTable<RegisterLesson>().Where(r => r.UID == profile.UID);
    var lessonItems = models.GetTable<LessonTime>()
        .Join(helper.LessonItems, l => l.LessonID, v => v.LessonID, (l, v) => l)
        .Join(lessons, l => l.GroupID, r => r.RegisterGroupID, (l, r) => new { Lesson = l, l.RegisterID });

    var feedbackItems = lessonItems
                            .Select(l => l.Lesson.LessonFeedBack
                                .Where(f => f.RegisterID == l.RegisterID)
                                .Where(f => f.FeedBackDate.HasValue)
                                .FirstOrDefault())
                            .ToList();

    var result = !feedbackItems.Any(f => f == null);

    mission.Goal = lessonItems.Count();
    mission.ResultModel = feedbackItems.Where(f => f != null).Count();
    mission.CheckResult = _model == null ? true : result;
}

<div class="card bg-beyond-dark text-center">
    <img src="@Html.Raw(mission.CheckResult ? "../images/icons/finish.svg" : "../images/icons/unfinish.svg")" class="rounded-circle mb-2 mt-2" width="100%" height="100%">
    <span class="d-block color-beyondwhite-light @Html.Raw(mission.CheckResult ? "color-beyondwhite-dark" : "color-white opacity-50") font-14">質量檢視<small class="d-block">(@(mission.ResultModel)/@(mission.Goal))</small></span>

</div>