@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources
@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    
    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";

    Player currentLevel = (Player)this.Model;
    var current = currentLevel?.StageProgress;
}

<div class="content">

    <!--Beyond幣與會員等級-->

    <div class="card bg-transparent mb-0 mx-auto" data-card-height="110" style="width: 250px;">
        <div class="card-top text-center py-2 align-self-center">
            <span class="icon icon-xl rounded-s"><img src="@($"../images/icons/sports/hiking{(ViewBag.Golden == true ? "" : "-dark")}.svg")" width="60"></span>
        </div>

        <div class="card-bottom">
            <h1 class="font-800 text-center color-beyondred-dark font-24 mb-n1 letter-spacing-2">Level @(currentLevel?.GameLevel.LevelCode ?? 0)</h1>
            <p class="text-center z-index-10 font-14 color-beyond-dark opacity-50">@($"{current?.StartDate:yyyy/MM/dd}")~@($"{current?.EndExclusiveDate:yyyy/MM/dd}")</p>
        </div>

    </div>

</div>