

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@{
    Layout = "~/Views/PaymentConsole/Module/PayoffTemplate.cshtml";
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;
    Payment _model;
    PaymentViewModel _viewModel;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;
    _model = this.Model as Payment;
    _viewModel = (PaymentViewModel)ViewBag.ViewModel;
    UserProfile _profile = await Context.GetUserAsync();
    CourseContract _item = ViewContext.ViewData["DataItem"] as CourseContract;

}
@section PaymentType
{
    <div class="col-12">
        <select class="form-control show-tick" name="PaymentType">
            <option value="">-- 請選擇收款方式 --</option>
            @if (_profile.IsAuthorizedSysAdmin() || _profile.IsAssistant() || _profile.IsManager() || _profile.IsViceManager()
                  || String.IsNullOrEmpty(_item.CourseContractExtension.PaymentMethod))
            {
                <option value="現金">現金</option>
                <option value="刷卡">刷卡</option>
                <option value="轉帳">轉帳</option>
            }
            else
            {
                foreach (var m in _item.CourseContractExtension.PaymentMethod.Split('/'))
                {
                    <option value="@(m)">@(m)</option>
                }
            }
        </select>
    </div>
}