

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@using CommonLib.Utility
@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;
    PaymentViewModel _viewModel;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _modelState = ViewContext.ModelState;
    _viewModel = (PaymentViewModel)ViewBag.ViewModel;
}
@{
    UserProfile _profile = await Context.GetUserAsync();
}
<h2><strong>結帳櫃檯</strong></h2>
<div class="table-responsive">
    <table class="table table-black table-hover m-b-0">
        <thead>
            <tr>
                <th>品項</th>
                <th class="text-right">單價</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>P.I Session</td>
                <td class="text-right">@(_viewModel.PayoffAmount)</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>總計：</td>
                <td class="text-danger text-right">
                    <h6 id="payoffAmount">TWD @(_viewModel.PayoffAmount)</h6>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="row clearfix m-t-20">
    @{
        await Html.RenderPartialAsync("~/Views/PaymentConsole/Module/Payoff.cshtml");
    }
</div>
<div class="row clearfix m-t-20">
    <div class="col-12">
        <div class="input-group">
            <textarea rows="3" class="form-control no-resize" name="Remark" placeholder="請輸入任何想補充的事項..."></textarea>
        </div>
    </div>
</div>
<button class="subscribe btn btn-primary btn-block" type="button" onclick="commitPayoff();"> 確定，不後悔  </button>
<script>
    $(function () {
        $global.viewModel = @Html.Raw(_viewModel.JsonStringify());
        $('select[name="PaymentType"]').selectpicker('refresh');
    });
</script>
